@import '../../styles.module.scss';

.wrapper {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	// background: $white;
	opacity: 0;
	animation: animateIn $loadingAnimationDuration ease-in-out forwards;
	.spinningDot {
		position: absolute;
		top: 0;
		left: 0;
		animation: spin ($loadingAnimationDuration * 1.2) ease-in-out forwards;
		transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes animateIn {
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}
