@import '~theme/variables';

.container {
	padding-bottom: $spacingLarge;
	position: relative;
	overflow-x: hidden;
}

.image {
	background-position: center;
	background-size: cover;
	height: 40vh;
	margin-right: 1rem;
	min-width: 400px;
	width: calc(50vw - 15%);
}

.jess {
	background-image: url('/public/images/venue_jess.jpg');
}

.ray {
	background-image: url('/public/images/venue_ray.jpg');
}

.carousel {
	display: flex;
	left: 50%;
	position: absolute;
	width: 100%;
	@media screen and (max-width: $screenMedium) {
		left: 1rem;
		top: 70%;
	}
}

.whiteBox {
	background: $white;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	height: 200px;
	z-index: -1;
	@media screen and (max-width: $screenMedium) {
		height: 32vmax;
	}
}

h3 {
	margin-top: 0.6em;
	padding-bottom: 1.4rem;
}

.address {
	margin: 0.5rem 0 3rem;
	position: absolute;
	left: 200px;
	@media screen and (max-width: $screenSmall) {
		left: 36vw;
	}
}

.address span {
	opacity: 0.7;
}

.address a,
.address a:visited {
	color: $black;
	padding-top: 0.4rem;
}

.venueInfo {
	max-width: 1200px;
	margin: 16rem auto 0;
	padding: 1rem;
	position: relative;
	min-height: 40vh;
}
