@import '~theme/variables';

.postFeed {
	background: $black;
	max-width: 1560px;
	margin: 0 auto;
	padding: 20vh 6rem;
}
@media screen and (max-width: 1248px) {
	.postFeed {
		padding: 20vh 3rem;
	}
}

@media screen and (max-width: 600px) {
	.postFeed {
		padding: 20vh 0;
	}
}
