@import '~theme/variables';
@import '~theme/blueprints';

.cardHidden {
	text-decoration: none !important;

	.card {
		border-radius: 0;
		background-color: $white;
		transition: transform 0.4s;
		overflow: hidden;
		height: 100%;
		overflow: visible;
		transform: translateY(0);
		&:after {
			content: '';
			width: 100%;
			transition: opacity 0.4s;
			height: 100%;
			display: inline;
			box-shadow: 0 2rem 8rem -2rem rgba($black, 0.24);
			opacity: 0;
			left: 0;
			top: 0;
			position: absolute;
		}
		&:hover {
			transform: translateY(-$spacingXSmall);
			&:after {
				transition: opacity 0.4s;
				opacity: 1;
			}
			p.cta {
				color: $primary;
				transition: color 0.4s;
			}
			h2.title,
			h3.title {
				color: $primary;
				transform: scale(1.04);
				transform-origin: left;
				transition: transform 0.4s;
			}
			.icon svg {
				filter: grayscale(0);
				transition: filter 0.4s;
			}
		}
		.copy {
			padding: $spacingSmall $spacingXSmall 0;
		}
		.icon svg {
			transition: filter 0.4s;
			filter: grayscale(1);
			padding: $spacingXSmall * 1.5;
			padding-right: 0;
		}

		p.text {
			font-weight: $fontWeightRegular;
			color: $main-l4;
			margin: 0 0 1em;
		}

		p.cta {
			color: lighten($main-l4, 16%);
			transition: color 0.4s;
		}

		h2.title,
		h3.title {
			color: $main-l2;
			transition: transform 0.4sscale 0.4s;
			transform: scale(1);
			transform-origin: left;
		}
		h2.title {
			font-size: $fontSizeLarge;
			font-weight: $fontWeightBlack;
			margin-top: 0;
		}
		h3.title {
			margin: 0 0 $spacingSmall 0;
			padding: 0;
		}
	}
}

// .neumorphism {
// 	.card {
// 		background-color: initial;
// 		border-radius: $fontSizeLarge;
// 		&:after {
// 			@include neu-base;
// 		}
// 		&:hover {
// 			background-color: darken($neutral9, 0.05);
// 		}
// 	}
// }
