@import '~theme/variables';

.colorField {
	width: 100%;
	span {
		letter-spacing: 0.2ch;
		width: 25%;
	}
	input {
		text-transform: uppercase;
		font-family: $fontFamilySecondary;
		font-size: $fontSizeSmall;
		border: none;
		width: 75%;
	}
}
