@keyframes slideInAbsolute {
	0% {
		opacity: 0;
		transform: translateX(-400px);
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@mixin slideInAbsolute($name, $value) {
	@keyframes #{$name} {
		0% {
			opacity: 0;
			transform: translateX(#{$value}px);
		}

		30% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}
