@import '~theme/variables';

.social {
	width: 320px;
	// z-index: -1;

	@media screen and (max-width: $screenLarge) {
		width: 50%;
	}

	@media screen and (max-width: $screenMedium) {
		margin: $spacingSmall 0;
		order: -1;
		width: 100%;
		max-width: 360px;
	}

	@media screen and (max-width: $screenSmall) {
		margin: 0 -0.2rem 3rem -0.2rem;
	}
}

.social a {
	transform: translateY(0) scale(0.95);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	&:hover {
		transform: translateY(-0.4rem) scale(1);
		transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		svg {
			fill: $primary;
		}
	}
}
