@import 'theme/variables.scss';

.banner {
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	padding: 3rem 1rem 3rem;
	height: 40vh;
	max-height: $screenMedium;
	position: relative;
	h1 {
		order: 2;
		font-size: $fontSizeDisplay;
		color: $white;
		z-index: 2;
		font-weight: $fontWeightHeavy;
		box-shadow: $elevation1;
		margin-bottom: 0;
		span {
			position: absolute;
			display: block;
			font-size: $fontSizeBase;
			color: $grey;
			line-height: 2;
			top: 50vh;
			margin-left: 1ch;
		}
	}
	.role {
		width: 100px;
		h2 {
			@include small-caps;
			transform: translateX(-$spacingLarge) rotate(-90deg);
			font-size: $fontSizeXSmall;
			color: $grey;
			width: 35ch;
			text-align: center;
		}
	}
}

.markdownContainer {
	margin-bottom: auto;
	padding: 6rem 3rem;
	font-family: $fontFamilySecondary;
	background: white;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: $primary;
		}
	}
	.wrapper {
		max-width: 88ch;
		margin: $spacingLarge auto 0;

		p,
		ol > li,
		ul > li {
			font-size: $fontSizeMedium;
			line-height: 1.6;
			font-weight: $fontWeightRegular;
			color: $darkGrey;
			margin-bottom: 1rem;
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			img {
				margin: 3rem 0 0 -20%;
				max-height: 64vh;
				width: 140%;
			}
			img + strong {
				@include small-caps;
				color: $grey;
				font-size: $fontSizeSmall;
				transform: translate(80%, -$spacingXLarge) rotate(90deg);
				display: block;
			}
		}
		ol,
		ul {
			padding-left: $fontSizeMedium;
		}

		h2,
		h3 {
			margin-top: 3em;
			&:first-child {
				margin-top: $spacingSmall;
			}
		}

		img {
			width: 100%;
		}

		//caption styling
		img + em {
			color: $main-l3;
			font-size: $fontSizeSmall;
			text-align: center;
			display: inherit;
		}
	}
}

@media screen and (max-width: $screenSmall) {
	.banner {
		h1 {
			order: 0;
			font-size: $fontSizeLarge;
			padding-right: $spacingBase;
			div {
				left: 0.7rem;
			}
		}
		.role {
			width: 2ch;
		}
	}
	.markdownContainer {
		overflow: hidden;
		padding: $spacingLarge $spacingSmall $spacingMedium;
	}
}
