@import '~theme/variables';

.p {
	font-size: $fontSizeMedium;
	font-weight: $fontWeightRegular;
	line-height: $spacingSmall;
}

.span {
	font-size: $fontSizeSmall;
	font-weight: $fontWeightRegular;
	padding-bottom: $spacingSmall;
}
