@import '~theme/variables';

.container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
	position: relative;
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	padding: $spacingMedium $spacingSmall $spacingMedium;
	a {
		text-decoration: none;
	}
}

.entry a {
	&:hover {
		color: $white;
		transition: color 0.4s ease-out;
		&::after {
			transition: transform 0.2s ease;
			transform: scaleX(1);
		}
	}

	&.selected {
		border-bottom: 1px solid $black;

		.entry a {
			color: $white;
		}
	}
}

.entry a {
	color: $grey;
	margin: 0;
	padding: $spacingSmall;
	position: relative;
	font-size: $fontSizeSmall;
	transition: color 0.2s ease-out;
	&::after {
		background: $white;
		bottom: 0;
		content: '';
		right: $spacingSmall;
		position: absolute;
		height: 3px;
		transition: transform 0.4s ease;
		transform-origin: left;
		transform: scaleX(0);
		width: $spacingBase;
	}
	&:last-child {
		padding: $spacingSmall 0 $spacingSmall $spacingBase;
		&::after {
			right: 0;
			background: $primary;
		}
	}
}

.siteName {
	color: $white;
	font-size: $fontSizeMedium;
	padding-bottom: 0;
	padding-top: $spacingSmall;
	line-height: 1.6;
	&:after {
		content: '';
		width: $spacingBase;
		height: 3px;
		background: $primary;
		display: block;
		margin-top: 1rem;
	}
	@media screen and (max-width: $screenSmall) {
		position: initial;
	}
}
