@import '~theme/variables';

nav {
	align-items: center;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
	position: relative;
	a {
		text-decoration: none;
	}
}

nav.white {
	color: $white;

	a {
		&:after {
			background: $white !important;
		}
		&:hover {
			color: $lightGrey;
			&:after {
				background: $lightGrey !important;
			}
		}
	}
	div > a {
		color: $white;
	}
}
