@import '~theme/variables';

.niceLink {
	svg {
		margin-left: $spacingXSmall;
		transform: translateX(0);
		transition: transform 0.4s cubic-bezier(0.075, 1.2, 0.165, 1);
	}
	&:hover {
		svg {
			transition: transform 0.2s cubic-bezier(0.075, 1.2, 0.165, 1);
			transform: translateX(1rem);
		}
	}
}
