@import 'theme/variables.scss';

.markdownContainer {
	padding: $spacingMedium $spacingMedium $spacingMedium;
	font-family: $fontFamilySecondary;
	background: white;

	.wrapper {
		max-width: 68ch;

		p {
			font-size: $fontSizeMedium;
			font-weight: $fontWeightRegular;
			color: $darkGrey;
			margin-bottom: 2em;
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
		}

		h2,
		h3 {
			margin-top: $spacingMedium;
			&:first-child {
				margin-top: $spacingSmall;
			}
		}
	}
}
