@import 'theme/variables.scss';

.banner {
	padding-top: $spacingLarge;
	height: 72vh;
	max-height: $screenMedium;
	h1 {
		width: 200px;
		font-size: $fontSizeDisplay;
		line-height: 0.9;
		color: $white;
		z-index: 2;
		font-weight: $fontWeightHeavy;
		text-shadow: $elevation1;
	}
	.role {
		width: 200px;
		order: 3;
		h2 {
			transform: translateX(-$spacingLarge) rotate(-90deg);
			font-weight: $fontWeightHeavy;
			font-size: $fontSizeXSmall;
			text-transform: uppercase;
			color: $grey;
			letter-spacing: 0.5ch;
			width: 60ch;
			text-align: center;
		}
	}
	img {
		height: 80vh;
		max-height: $screenMedium;
		font-size: $fontSizeMedium;
		font-family: $fontFamilySecondary;
		width: 70vh;
		max-width: 68ch;
		z-index: 1;
		box-shadow: $elevation2;
	}
}

.markdownContainer {
	margin-bottom: auto;
	padding: 6rem 3rem;
	font-family: $fontFamilySecondary;
	background: white;
}

.wrapper {
	max-width: 68ch;
	margin: $spacingLarge auto 0;

	p {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightRegular;
		color: $darkGrey;
		margin-bottom: 1rem;
		-webkit-font-smoothing: antialiased !important;
		-moz-osx-font-smoothing: grayscale !important;
	}

	h3 {
		margin-top: $spacingMedium * 2;
		// font-size: $fontSizeXLarge;
		&:first-child {
			margin-top: $spacingSmall;
		}
	}
}
