@import '~theme/variables';
@import '~theme/blueprints';

.teasers {
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: $spacingBase * (-3) - $spacingSmall !important;
	@media screen and (max-width: $screenMedium) {
		margin-top: initial;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}
