{
	"presets": [
		[
			"env",
			{
				"modules": false,
				"targets": {
					"browsers": ["last 3 versions"]
				}
			}
		],
		"react"
	],
	"plugins": ["transform-export-extensions", "transform-object-rest-spread"],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		}
	}
}
