@import '~theme/variables';

.container {
	.download {
		display: inline-flex;
		align-items: center;
		bottom: $spacingBase;
		right: $spacingBase;
		padding: $spacingXSmall;
		background: $neutral9;
		transform: translateY(0);
		transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
		border: 1px solid $neutral7;
		border-radius: $spacingXSmall;
		box-shadow: $elevation3;
		color: $neutral3;
		&:hover {
			box-shadow: $elevation2;
			transform: translateY(0.1rem);
			transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
			color: $primary-d1;
			svg {
				fill: $primary-d1;
				opacity: 1;
			}
		}
		svg {
			fill: $neutral5;
			opacity: 0.8;
			margin-right: $spacingXSmall * 1.5;
			transition: opacity 0.2s ease-in-out, fill 0.2s ease-in-out;
		}
		span {
			vertical-align: top;
			padding-left: $spacingXSmall * 1.5;
			padding-right: $spacingXSmall;
		}
	}

	.caption {
		text-align: center;
		margin: $spacingBase 0;
		p {
			vertical-align: super;
			font-style: italic;
		}
	}

	img, video {
		max-width: 100%;
		object-fit: cover;
	}
}
