@import '~theme/variables';

.blueprintsAccordion {
	background: $neutral9;
	border-radius: $spacingXSmall;
	margin: $spacingSmall 0;
	transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
	&:hover {
		background: darken($neutral9, 4%);
		transform: translateY(-$spacingXSmall / 2);
		transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
	}
}
