@import '../../styles.module.scss';

@mixin smoothTransition {
	transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out,
		transform 0.2s ease-in-out;
}

.wrapper {
	font-family: $fontFamilySecondary;
	height: 100%;
	padding: $spacingBase * 3;
	min-width: $screenSmall;
	.details .heading,
	div a button {
		@include small-caps;
		font-size: $fontSizeMedium;
		font-weight: $fontWeightHeavy;
	}
	a {
		display: block;
	}
	.button {
		cursor: pointer;
		background: linear-gradient(to right, #48668f 0%, #71a3ac);
		color: #ffdabe;
		width: 100%;
		margin: $spacingBase 0;
		border-radius: $fontSizeXSmall / 4;
		position: relative;
		letter-spacing: 1ch;
		@include smoothTransition;
		&::after {
			content: '';
			position: absolute;
			background: linear-gradient(to right, #48668f 0%, #71a3ac);
			filter: blur($spacingBase);
			width: 80%;
			height: 80%;
			left: 10%;
			top: $spacingBase;
			z-index: -1;
			opacity: 0.8;
			@include smoothTransition;
		}
		&:hover {
			background: linear-gradient(to right, #48668f 30%, #71a3ac);
			transform: translateY($spacingXSmall * 0.5);
			@include smoothTransition;
			&::after {
				@include smoothTransition;
				opacity: 1;
				top: $spacingBase * 1.2;
			}
		}
	}
	.icon {
		display: inline;
	}
	@media screen and (max-width: $screenMedium) {
		padding: $spacingBase;
		min-width: initial;
		.icon {
			display: none;
		}
	}
}
