@import '~theme/animations';
@import '~theme/variables';
@import '~theme/blueprints';

.container {
	height: 100vh;
	max-height: $screenMedium;
	width: 100%;
	.button {
		font-weight: 900 !important;
		border-radius: $spacingXSmall;
		font-size: 1rem;
		min-height: 64px;
		padding: 18px 69px;
		background-color: $white;
		border-color: $white;
		color: $primary;
		margin-top: 2.4rem;
		cursor: pointer;
		box-shadow: $elevation1;
		transition: transform 0.4s, box-shadow 0.4s;
		&:hover {
			box-shadow: $elevation2;
			transform: translateY(-($spacingXSmall / 2));
		}
	}
	.content {
		margin-bottom: $spacingLarge;
		h1 {
			font-size: $fontSizeDisplay * 1.2;
			font-weight: 900;
		}

		h2 {
			font-size: $fontSizeLarge;
			opacity: 0.5 !important;
			margin-top: 0.4rem;
			font-weight: 700;
		}
		.preTitle {
			@include small-caps;
			color: $primary;
			letter-spacing: $spacingXSmall;
			margin-bottom: $spacingSmall;
			font-size: $fontSizeMedium;
		}
	}
}

@media screen and (max-width: $screenSmall) {
	.container {
		.content {
			h1 {
				font-size: $fontSizeDisplay;
			}
			h2 {
				font-size: $fontSizeMedium;
			}
		}
	}
}
@media screen and (min-width: $screenXLarge) {
	.container {
		max-height: $screenLarge;
	}
}
