@import '~theme/animations';
@import '~theme/variables';

.container {
	height: 60vh;
	margin: 0 auto;
	min-height: 400px;
	max-height: 800px;
	min-width: 360px;
	position: relative;
	width: 100vw;
	@media screen and (max-width: $screenMedium) {
		width: calc(100vw - 2rem);
		min-width: 300px;
		height: 90vh;
	}
}

.signal-list {
	ul > div:first-of-type {
		max-width: 40ch;
	}
	ol.nice-list {
		position: relative;
		margin-left: 0;
		> li {
			&:before {
				content: counter(li);
				position: absolute;
				color: $neutral8;
				font-size: $fontSizeDisplay;
				font-weight: $fontWeightBlack;
				margin: -1ch 0 0 -2.5ch;
			}
		}
	}
	ul > div:last-child {
		padding-left: 0;
	}
}
