@import '~theme/variables';

.agendaContainer {
	background: $white;
	min-height: 100vh;
}

.heading {
	margin-bottom: 6em;
	padding: $spacingLarge;

	p {
		color: $grey;
		margin: 0.25em 0 1.2em 0;
		max-width: 800px;
		position: absolute;
		left: 22vw;
		font-size: 1.4em !important;
		line-height: 1.4;
		font-weight: 300 !important;
		width: 56vw;
	}
}

.dayToggle {
	background: $primary;
	cursor: pointer;
	padding: 3em 0;
	width: 100px;
	height: 50vh;
	min-height: 20ch;

	> span {
		display: block;
		font-size: $fontSizeLarge !important;
		transform: rotate(90deg);
		transform-origin: left bottom;
		padding: 1.2em;
		width: 18ch;

		span {
			color: $white;
		}
	}
}

.noDay {
	background: $grey;
	width: 100px;
	height: 500px;
}

.schedule {
	max-width: 800px;
	width: 56vw;
}

.talkContainer {
	margin-bottom: $spacingMedium;

	> div {
		margin-left: $spacingMedium;
	}
}
