@import '~theme/variables';

$accent-color: #006de7;
$transition-transform-opacity: transform 0.25s ease, opacity 0.25s ease;

button {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	color: inherit;
	border: 0;
	outline: 0;
	background: transparent;
}

.card-section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 90vh;

	@media screen and (max-width: $screenSmall) {
		height: 100vh;
	}
}

.card {
	position: relative;
	z-index: 2;
	display: flex;
	overflow: hidden;
	justify-content: center;
	width: 80vw;
	max-width: 1296px;
	height: 40vw;
	min-height: 520px;
	max-height: 640px;
	background-color: #fff;
	box-shadow: 0 2rem 5rem rgba(58, 56, 68, 0.1), 0 0.5rem 3rem rgba(58, 56, 68, 0.1);
	contain: content;

	@media screen and (max-width: $screenSmall) {
		width: 90vw;
		height: 90vh;
	}

	//Principle Card Content
	.card-content-principle {
		position: absolute;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 16px;

		.shape {
			transition: $transition-transform-opacity;
			transition-delay: 0.5s;
			transform: translateX(0%);
			opacity: 1;
		}

		h3 {
			margin: $spacingSmall 0 $spacingXSmall;
			transition: $transition-transform-opacity;
			transition-delay: 0.565s;
			transform: translateX(0%);
			opacity: 1;
			color: $brandPrimary;
			font-size: 32px;
			font-weight: 800;
		}

		p {
			max-width: $screenSmall;
			transition: $transition-transform-opacity;
			transition-delay: 0.58s;
			//animate
			transform: translateX(0%);
			text-align: center;
			opacity: 1;
			color: $main-l3;
			font-size: $fontSizeMedium;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 60%;
			min-width: $screenSmall / 1.4;
			max-width: $screenSmall;
			padding-left: 0;
			list-style: none;
			transition: $transition-transform-opacity;
			transition-delay: 0.72s;
			transform: translateX(0%);
			opacity: 1;

			@media screen and (max-width: $screenSmall) {
				flex-direction: column;
				width: 100%;
			}

			li {
				font-size: $fontSizeBase;
				font-weight: 700;
				padding: 0px 1rem;
				@media screen and (max-width: $screenSmall) {
					margin-bottom: 12px;
				}
			}
		}
	}

	//Questions
	.card-content-questions {
		position: absolute;
		display: flex;
		overflow: hidden;
		align-items: center;
		flex-direction: row;
		width: 100%;
		height: 100%;
		transition: transform 1s ease;
		transition-delay: 0s;
		transform: translateX(100%);
		// justify-content: center;
		background-color: $brandPrimary;

		.shape {
			position: absolute;
			width: 25%;
			height: auto;
			mix-blend-mode: screen;
			transition: $transition-transform-opacity;
			transform: translateX(0px);
			//animate
			opacity: 0;
			@media screen and (max-width: $screenSmall) {
				width: 50%;
			}
		}

		ul {
			margin-left: 25%;
			list-style: none;
			color: #fff;

			@media screen and (max-width: $screenSmall) {
				margin-right: auto;
				margin-left: auto;
				padding: 1.5rem;
			}

			li {
				transition: $transition-transform-opacity;
				transition-delay: 0.15s;
				//animate
				transform: translateX(30%);
				opacity: 0;
				font-size: $fontSizeBase;
				line-height: 300%;
				@media screen and (max-width: $screenSmall) {
					margin-bottom: 1rem;

					font-size: $fontSizeMedium;
					line-height: 130%;
				}

				a {
					overflow: hidden;
					text-decoration: underline;
					color: $white;
					background-color: $brandPrimary;
					font-weight: $fontWeightHeavy;
				}
			}
		}
	}

	.toggle-button {
		position: absolute;
		z-index: 5;
		right: 32px;
		bottom: 24px;

		cursor: pointer;
		transition: transform 0.3s ease-out;
		transform: rotate(0deg);

		opacity: 0.5;

		@media screen and (max-width: $screenSmall) {
			right: 42%; //trying to optically center
			margin: auto;
		}

		button {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			svg {
				transform: rotate(-90deg);
				path {
					transition: fill 0.5s ease;

					fill: $brandPrimary;
				}
			}

			span {
				@include small-caps;
				font-size: $fontSizeSmall;
				@media screen and (max-width: $screenSmall) {
					font-size: $fontSizeXSmall;
				}
			}

			span:nth-of-type(1) {
				display: inline;
				text-align: right;
			}

			span:nth-of-type(2) {
				display: none;
				transform: rotate(180deg);
				color: $white;
			}
		}
	}

	//animated divs

	.light-color-wipe {
		position: relative;

		width: 100%;
		height: 100%;

		content: '';
		transition: transform 1s ease;
		transition-delay: 0.25s;
		transform: translateX(100%);

		opacity: 0.3;
		background-color: $brandPrimary;
	}
}

.card.show-questions {
	//Principle Card Content
	.card-content-principle {
		.shape {
			transition-delay: 0s;
			transform: translateX(-50%);
			opacity: 0;
		}

		h3 {
			transition-delay: 0s;
			transform: translateX(-30%);

			opacity: 0;
		}

		p {
			transition-delay: 0s;
			transform: translateX(-30%);

			opacity: 0;
		}

		ul {
			transition: $transition-transform-opacity;
			transition-delay: 0s;
			transform: translateX(-30%);

			opacity: 0;
		}
	}

	//Questions
	.card-content-questions {
		transform: translateX(0%);
		// transition-delay: 0ms;

		.shape {
			transition-delay: 0.65s;
			transform: translateX(-33%);
			//animate

			opacity: 0.2;
		}

		ul {
			//

			li {
				transition: transform 1s ease, opacity 1s ease;
				transition-delay: 0.5s;
				//animate
				transform: translateX(0%);

				opacity: 1;
			}
		}
	}

	.toggle-button {
		transform: rotate(180deg);

		button {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			svg {
				path {
					fill: $white;
				}
			}

			span {
				@include small-caps;
				font-size: $fontSizeSmall;
			}

			span:nth-of-type(1) {
				display: none;
			}

			span:nth-of-type(2) {
				display: inline;
			}
		}
	}

	//animated divs
	.light-color-wipe {
		transition: transform 0.5s ease;
		transition-delay: 0s;
		transform: translateX(0%);
	}
}

//Toggle Buttons

// .toggle-button {
// 	position: absolute;
// 	z-index: 5;
// 	right: 32px;
// 	bottom: 24px;

// 	cursor: pointer;

// 	opacity: 0.5;
// }

// .untoggle-button {
// 	position: absolute;
// 	z-index: 5;
// 	bottom: 24px;
// 	left: 32px;

// 	cursor: pointer;

// 	opacity: 0.5;
// }
