@import '~theme/variables';
@import '../../styles.module.scss';

.preHeader {
	@include small-caps;
	line-height: 150%;
	letter-spacing: 0.5em;
	margin-bottom: 0.2em;
	font-family: 'Bebas Neue';
	margin-bottom: 40px;
	@include for-tablet-landscape-up {
		font-size: $fontSizeMedium !important;
	}
}

.f2 {
	font-weight: 400;
	line-height: 120%;
	font-size: 38px;
	max-width: 768px;
	@include for-tablet-landscape-up {
		font-size: 46px;
	}
}

.p {
	max-width: 68ch;
}
