@import '~theme/variables';
@import '../../styles.module.scss';

.carousel {
	max-width: 100vw;
	display: block;
	.primaryCarousel {
		width: 100%;
		max-width: $screenMedium;
		max-height: 100vh;
		margin: 0 auto 40px;
		:global(.slick-slide) img {
			width: 100%;
			height: 80%;
			max-height: 80vh;
			margin: 0;
		}
		:global(.slick-prev),
		:global(.slick-next) {
			height: 80%;
		}

		@media (min-width: $screenXLarge) {
			max-width: $screenLarge;
		}
		@media (max-width: 900px) {
			max-width: 100vw;
			:global(.slick-next),
			:global(.slick-prev) {
				display: none !important;
			}
		}
	}
	.navCarousel {
		:global(.slick-next),
		:global(.slick-prev) {
			display: none !important;
		}
		:global(.slick-list) {
			display: flex;
			justify-content: center;
		}
		:global(.slick-track) {
			display: flex;
			justify-content: center;
			overflow: scroll;
			transform: translate3d(0, 0, 0) !important;
		}
		:global(.slick-current) {
			padding: 2px;
			outline: 1px solid $primary !important;
		}
		:global(.slick-slide) {
			max-width: 94px;
			margin: 16px;
			cursor: pointer;
			transition: padding 0.1s, outline 0.1s;
		}
		:global(.slick-cloned) {
			display: none;
		}
		.slide {
			width: 96px;
			height: 96px;
			display: flex !important;
			justify-content: center;
			align-items: center;
			outline: none;
		}
		img {
			width: unset;
			height: unset;
			max-width: 100%;
			max-height: 100%;
			margin: auto;
			width: 96px;
		}
		@media (max-width: 900px) {
			:global(.slick-slide) {
				max-width: 8px;
				height: 8px;
				border-radius: 4px;
				background: $neutral4;
			}
			:global(.slick-current) {
				background: $primary;
				outline: none !important;
				padding: 0;
			}
			.slide {
				width: 12px;
				height: 12px;
			}
			img {
				display: none;
			}
		}
		p {
			display: none;
		}
	}
}
