@import '~theme/variables';

.bottomBorder {
	&:after {
		background-color: $primary;
		content: '';
		display: block;
		height: 1px;
		margin-top: 8px;
		width: 16px;
	}
}

.shared {
	margin: 0;
	padding-bottom: $spacingSmall;
}

.h1 {
	@extend .shared;
	font-size: $fontSizeXXLarge;
	font-weight: $fontWeightHeavy;
}

.h2 {
	@extend .shared;
	font-size: $fontSizeLarge;
	font-weight: $fontWeightHeavy;
}

.h3 {
	@extend .shared;
	font-size: $fontSizeMedium;
	font-weight: $fontWeightHeavy;
}

.h4 {
	@extend .shared;
	font-size: $fontSizeSmall;
	font-weight: $fontWeightHeavy;
}

.h5 {
	@extend .shared;
	font-size: $fontSizeXSmall;
	font-weight: $fontWeightHeavy;
}

.h6 {
	@extend .shared;
	font-size: $fontSizeXSmall - 0.3;
	font-weight: $fontWeightHeavy;
}
