@import 'theme/variables.scss';

$bg-line: 36%;
$bg-line-large-screen: 60%;

$bg-color: #1b1e28;

.handbook {
	.wrapper {
		padding: 0 $spacingBase ($spacingMedium * 1.5);
		background: url('/images/theme/handbook-frame.svg') center $bg-line / contain
				no-repeat,
			linear-gradient($bg-color $bg-line, $white ($bg-line + 1));
		@media screen and (min-width: $screenXLarge) {
			background: url('/images/theme/handbook-frame.svg') center
					$bg-line-large-screen / contain no-repeat,
				linear-gradient($bg-color $bg-line-large-screen, $white ($bg-line + 1));
		}
		.gagb {
			margin: 0 0 ($spacingLarge * 1.5);
			max-width: 40em;
			margin: 0 auto;
			@media screen and (min-width: $screenXLarge) {
				margin: 0 0 $spacingLarge;
			}
			.date {
				@include small-caps;
			}
			h3 {
				font-size: $fontSizeDisplay * 1.2;
				font-weight: $fontWeightBlack;
				margin: 0 0 $spacingLarge ($spacingSmall * -0.6);
				text-shadow: $elevationText1, $elevationText2, $elevationText3;
				@media screen and (max-width: $screenMedium) {
					font-size: $fontSizeDisplay;
				}
			}
			span {
				color: $primary;
			}
		}
	}
}
