@import 'theme/variables.scss';

.handbook {
	.wrapper {
		padding: 0 $spacingBase $spacingXLarge;
		background: url('/images/theme/handbook-frame.svg') center 20% / contain no-repeat,
			linear-gradient($black-000 20%, $white 21%);
		.date {
			@include small-caps;
		}
		.gagb {
			// margin-top: 24vw;
			h3 {
				margin-left: $spacingXSmall * -1.5;
				font-size: $fontSizeDisplay * 1.5;
				font-weight: $fontWeightBlack;
				@media screen and (max-width: $screenMedium) {
					font-size: $fontSizeDisplay;
				}
			}
			span {
				color: $primary;
			}
		}
	}
}
