@import 'theme/variables.scss';

.handbook {
	.wrapper {
		padding: $spacingXLarge 0;
		// margin-top: $spacingBase * -1;
		background: #fff url('/images/theme/handbook-frame.svg') top center/contain
			no-repeat;
		.teasers {
			margin-top: -8rem;
		}
		.date {
			@include small-caps;
		}
		.gagb {
			// margin-top: 24vw;
			h3 {
				margin-left: $spacingXSmall * -1.5;
				font-size: $fontSizeDisplay * 1.5;
				font-weight: $fontWeightBlack;
				@media screen and (max-width: $screenMedium) {
					font-size: $fontSizeDisplay;
				}
			}
			span {
				color: $primary;
			}
		}
	}
}
