@import 'theme/variables.scss';

$bg-line: 40%;
$bg-color: #1b1e28;

.handbook {
	.wrapper {
		padding: 0 $spacingBase ($spacingMedium * 1.5);
		background: url('/images/theme/handbook-frame.svg') center $bg-line / contain
				no-repeat,
			linear-gradient($bg-color $bg-line, $white ($bg-line + 1));
		.date {
			@include small-caps;
		}
		.gagb {
			margin: 0 0 $spacingLarge;
			h3 {
				margin-left: $spacingXSmall * -1.5;
				font-size: $fontSizeDisplay * 1.2;
				font-weight: $fontWeightBlack;
				@media screen and (max-width: $screenMedium) {
					font-size: $fontSizeDisplay;
				}
			}
			span {
				color: $primary;
			}
		}
	}
}
