@import '~theme/variables';

.personContainer {
	box-sizing: border-box;
	margin: 0;
	padding: 0.5rem;
	transition: all 0.15s ease-in-out;
	width: 25%;

	figcaption {
		color: $white;
		letter-spacing: 0ch;
		position: relative;
		text-align: center;
		text-shadow: 0 0 1rem rgba(16, 92, 249, 0.1);
		margin-top: -2rem;
		z-index: 99;
		transition: all 0.15s ease-in-out;
	}

	.headshotContainer {
		&:hover {
			figcaption {
				text-shadow: 0 0 1rem rgba(16, 92, 249, 0.7);
				letter-spacing: 0.2ch;
				font-weight: $fontWeightBlack;
				transition: all 0.15s ease-in-out;
			}

			img {
				transform: scale(1);
				transition: all 0.2s ease-in-out;
				filter: grayscale(0);
				opacity: 1;
			}
		}
	}

	img {
		box-shadow: 0 1em 4em -0.5em rgba(0, 0, 0, 0.2);
		object-fit: cover;
		filter: grayscale(100%);
		width: 30vmin;
		height: 30vmin;
		opacity: 0.7;
		transform: scale(0.6);
		transition: all 0.3s ease-in-out;
		z-index: 2;
	}
}
