@import '~theme/variables';
@import '~theme/blueprints';

.link {
	text-decoration: none !important;
}

.card.dark {
	color: $white !important;
	background-color: $darkGrey;
	border-radius: 0;
	&:hover {
		background-color: $darkestGrey;
	}
	h2 {
		color: $white !important;
	}
	p.text {
		color: $lightestGrey !important;
	}
}

.card.wide {
	align-items: stretch;
	.icon {
		padding: ($spacingMedium * 2) $spacingMedium;
	}
	.copy {
		padding: $spacingLarge $spacingMedium $spacingLarge $spacingSmall;
	}
	.image {
		margin-right: $spacingBase;
		margin-bottom: 0;
		width: 50%;
		max-height: initial;
		img {
			height: 100%;
		}
	}
}

.card {
	text-align: center;
	background-color: $white;
	border-radius: $fontSizeSmall;
	box-shadow: $elevation1;
	padding: $spacingMedium $spacingSmall $spacingSmall;
	min-height: 100%;
	transition: all 0.4s;
	overflow: hidden;
	&:hover {
		background-color: $lightestBlue;
		box-shadow: $elevation2;
		transform: translateY(-($spacingXSmall / 2));
		p.cta {
			color: $primary;
		}
	}
	.copy {
		padding: 0 $spacingMedium ($spacingMedium * 2);
	}
	.icon {
		padding: ($spacingMedium * 2) $spacingMedium 0;
	}
	.image {
		max-height: 300px;
		overflow: hidden;
		margin-bottom: $spacingMedium;
		// img {
		// 	max-height: 100%;
		// }
	}
	h2.title {
		color: $darkGrey;
		font-weight: $fontWeightBlack;
	}

	p.text {
		font-weight: $fontWeightRegular;
		color: $gray-500;
		font-size: $fontSizeMedium;
		margin: 0 0 $fontSizeXLarge;
	}

	p.cta {
		color: lighten($gray-500, 16%);
	}
}
@media screen and (max-width: $screenMedium) {
	.card {
		padding: 0;
	}
}
