@import '~theme/variables';
@import '~theme/blueprints';

.link {
	text-decoration: none !important;
}

.handbook {
	.card {
		border-radius: 0;
		padding: $spacingBase 0 !important;
		box-shadow: 0 2rem 8rem rgba($black, 0.24);

		h2.title {
			font-size: $fontSizeDisplay * 0.8;
		}
	}
}

.preTitle {
	@include small-caps;
	font-size: $fontSizeSmall;
	color: $primary;
}

.card.dark {
	color: $white !important;
	background-color: $darkGrey;
	border-radius: 0;
	&:hover {
		background-color: $darkestGrey;
	}
	h2 {
		color: $white !important;
	}
	p.text {
		color: $lightestGrey !important;
	}
}

.card.wide {
	align-items: stretch;
	.icon {
		padding: ($spacingMedium * 2) $spacingMedium;
		@media screen and (max-width: $screenMedium) {
			padding: 0 $spacingMedium;
		}
	}
	.copy {
		padding: $spacingLarge $spacingMedium $spacingLarge $spacingSmall;
		@media screen and (max-width: $screenMedium) {
			padding: 0 $spacingMedium ($spacingMedium * 2);
		}
	}
	.image {
		margin-right: $spacingBase;
		margin-bottom: 0;
		width: 50%;
		max-height: initial;
		img {
			height: 100%;
		}
	}
}

.card {
	text-align: center;
	background-color: $white;
	border-radius: $fontSizeSmall;
	box-shadow: $elevation1;
	padding: $spacingMedium $spacingSmall $spacingSmall;
	min-height: 100%;
	transition: transform 0.4s, background-color 0.4s;
	overflow: hidden;
	&:hover {
		transition: transform 0.4s, background-color 0.4s;
		background-color: $lightestBlue;
		box-shadow: $elevation2;
		transform: translateY(-($spacingXSmall / 2));
		p.cta {
			color: $primary;
		}
	}
	.copy {
		padding: 0 $spacingMedium ($spacingMedium * 2);
	}
	.icon {
		padding: 0 $spacingMedium;
	}
	.spacer {
		padding: $spacingMedium 0;
	}
	.image {
		max-height: 300px;
		overflow: hidden;
		margin-bottom: $spacingMedium;
	}
	h2.title {
		color: $darkGrey;
		font-weight: $fontWeightBlack;
	}

	p.text {
		font-weight: $fontWeightRegular;
		color: $main-l4;
		font-size: $fontSizeMedium;
		margin: 0 0 $fontSizeXLarge;
	}

	p.cta {
		color: lighten($main-l4, 16%);
	}
}
@media screen and (max-width: $screenMedium) {
	.card {
		padding: 0;
	}
}
