@import '~theme/variables';

.joinUs {
	position: fixed;
	z-index: $top;
	top: 30vh;
	transform: translateX(0);
	transition: transform 0.4s ease-in-out;
	animation: fadeIn 0.8s ease-in-out forwards;
	.banner {
		width: 50vw;
		background: antiquewhite;
	}
	.tab {
		height: $screenSmall;
		overflow: hidden;
		align-items: center;
		.imageWrapper {
			transform: scaleX(1);
			transition: transform 0.4s ease-in-out;
		}
		.image {
			animation: animateIn 1s 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			height: 100%;
			transform: translateY(-200px);
			width: 8rem;
			margin: 0;
			opacity: 0;
			object-fit: cover;
		}
		.button {
			animation: growIn 1s 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
			transform-origin: top;
			height: 100%;
			background: $action;
			transition: opacity 0.4s ease-in-out, background 0.4s ease-in-out;
			display: flex;
			opacity: 0;
			position: relative;
			span {
				justify-self: center;
				align-self: center;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.3rem;
				transform: rotate(90deg);
				margin-left: -2rem;
				position: absolute;
			}
			&:hover {
				background: darken($action, 8%);
			}
		}
	}
}

@keyframes animateIn {
	from {
		transform: translateY(-200px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes growIn {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: $screenLarge) {
	.joinUs {
		right: -435px;
		&:hover {
			transform: translateX(-435px);
			transition: transform 0.4s ease-in-out;
			// disable image flip for the 2019 report
			// .imageWrapper {
			// 	transform: scaleX(-1);
			// 	transition: all 0.4s ease-in-out;
			// }
		}
	}
}

@media screen and (min-width: $screenMedium) and (max-width: $screenLarge) {
	.joinUs {
		right: 0;
		.tab {
			.button {
				span {
					margin-left: -3.4rem;
				}
			}
		}
	}
}

@media screen and (max-width: $screenMedium) {
	.joinUs {
		display: none;
	}
}
