@import '~theme/variables';
.relative {
	position: relative;
}

.logout-container {
	cursor: pointer;
	position: relative;
	padding-left: $spacingBase;
	margin-right: -4px;
}

.wrapper {
	background: $white;
	box-shadow: $elevation1;
	border-radius: $fontSizeXSmall / 2;
	position: absolute;
	right: -$spacingSmall;
	top: $spacingMedium;
	.caret {
		box-shadow: $elevation1;
		height: 2rem;
		width: 2rem;
		position: absolute;
		background: $white;
		top: -2px;
		transform: rotate(45deg);
		right: 1rem;
		border-radius: 0.2rem;
	}
	.caretOverlay {
		background: $white;
		border-radius: $fontSizeXSmall / 2;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
	}

	img {
		height: $spacingLarge;
		width: $spacingLarge;
		object-fit: cover;
		margin: 0;
		border-radius: $spacingXSmall 0 0 $spacingXSmall;
	}
}
.container {
	position: relative;
}
