@import '~theme/variables';

.logout-container {
	cursor: pointer;
	position: relative;
	padding-left: $spacingBase;
	margin-right: -4px;
}

.profile {
	align-items: center;
	justify-content: space-around;
	display: flex;
	position: absolute;
	top: 100%;
	right: $spacingBase;

	> div {
		display: flex;
		flex-direction: column;
	}
}
