.logout-container {
	cursor: pointer;
	position: relative;
	padding-left: 2rem;
}

.profile {
	align-items: center;
	justify-content: space-around;
	display: flex;
	position: absolute;
	top: 100%;
	right: 2rem;

	> div {
		display: flex;
		flex-direction: column;
	}
}
