@import '~theme/variables';
@import '~theme/blueprints';

.credits a {
	font-weight: $fontWeightHeavy;
	// color: $white;
}

.credits span {
	font-weight: $fontWeightLight;
	color: $blueprintsSecondary;
	padding-bottom: 1rem;
}
