@import '~theme/variables';

.circle-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	// width: 36vw * 2;
	// height: 36vw;
	width: 40vw * 2;
	height: 40vw;
	min-height: fit-content;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: $white;
	border-bottom-right-radius: 40vw * 2;
	border-bottom-left-radius: 40vw * 2;
	background-color: $brandPrimary;

	@media screen and (max-width: $screenSmall) {
		width: 50vw * 2;
		height: 60vh;
		border-bottom-right-radius: 50vw * 2;
		border-bottom-left-radius: 50vw * 2;
	}

	.header-badge {
		width: $spacingMedium * 2;
		height: auto;
		margin-top: $spacingMedium * 2;
		margin-bottom: $spacingXSmall;
	}

	.header-text {
		max-width: $screenSmall;
		margin-bottom: 10vw;
		text-align: center;
		h1 {
			margin-top: 0;
			margin-bottom: 1rem;
			font-size: $fontSizeXXLarge;
			@media screen and (max-width: $screenSmall) {
				font-size: $fontSizeXLarge;
			}
		}
		p {
			padding: 0px 1rem;
			color: lighten($brandPrimary, 40%);
			font-size: $fontSizeMedium;
			// font-weight: 300;
			// 300 is too light

			@media screen and (max-width: $screenSmall) {
				padding: 0px 1.25rem 1.5rem 1.25rem;
				font-size: $fontSizeSmall;
			}
		}
	}
}
