@import '~theme/variables';

form {
	display: flex;
	padding: $spacingBase 0;
	margin: 0 auto;
	justify-content: center;
	width: 60%;
	min-width: 600px;
	input {
		padding: $spacingBase $spacingMedium;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		&:focus {
			outline: none;
		}
	}
	.field {
		position: relative;
		display: flex;
		flex-grow: 1;
		.captcha {
			position: absolute;
			top: 1.3rem;
			right: calc(182px + 1.3rem);
			overflow: hidden;
			width: 160px;
			height: 48px;
			border-radius: 2px;
			div {
				margin-top: -13px;
			}
		}
		label {
			position: absolute;
			top: $spacingXSmall;
			left: $spacingMedium;
			color: $lightGrey;
			transform: translateY($spacingBase);
			transition: opacity 0.4s cubic-bezier(0.075, 1.2, 0.165, 1),
				transform 0.4s cubic-bezier(0.075, 1.2, 0.165, 1);
			opacity: 0;
		}
		input[type='text'] {
			background: darken($darkGrey, 8%);
			border-bottom: solid $spacingXSmall $darkGrey;
			color: $white;
			flex-grow: 1;
			&:focus,
			&:hover {
				background: lighten($darkGrey, 4%);
			}
			&:focus ~ input[type='submit'] {
				color: $white;
			}
			&:focus ~ label.label {
				transform: translateY(0);
				opacity: 1;
			}
		}
		input[type='submit'] {
			border-bottom: solid $spacingXSmall $primary;
			font-weight: $fontWeightBlack;
			color: $primary;
			background: darken($primary, 8%);
			flex-grow: 0;
			&:focus,
			&:hover {
				color: $white;
				background: lighten($primary, 4%);
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: $screenMedium) {
	form {
		width: 100%;
		min-width: initial;
		input {
			padding: $spacingBase $spacingSmall;
		}
		.field {
			color: red !important;
			flex-direction: column;
			.captcha {
				right: 1.3rem;
			}
			input[type='submit'] {
				color: $white;
			}
		}
	}
}

@media screen and (max-width: $screenSmall) {
	form {
		.field {
			flex-direction: column;
			.captcha {
				position: relative;
				left: initial;
				align-self: flex-end;
				margin: 0.5rem 0 3rem;
			}
			input[type='submit'] {
				color: $white;
			}
		}
	}
}
