@import '~theme/variables';

form {
	display: flex;
	padding: $spacingBase 0;
	margin: 0;
	justify-content: center;
	input {
		padding: $spacingBase $spacingMedium;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		&:focus {
			outline: none;
		}
	}
	.field {
		position: relative;
		display: flex;
		label {
			position: absolute;
			top: $spacingXSmall;
			left: $spacingMedium;
			color: $lightGrey;
			transform: translateY($spacingBase);
			transition: all 0.4s cubic-bezier(0.075, 1.2, 0.165, 1);
			opacity: 0;
		}
		input[type='text'] {
			background: darken($darkGrey, 8%);
			border-bottom: solid $spacingXSmall $darkGrey;
			color: $white;
			&:focus,
			&:hover {
				background: lighten($darkGrey, 4%);
			}
			&:focus ~ input[type='submit'] {
				color: $white;
			}
			&:focus ~ label.label {
				transform: translateY(0);
				opacity: 1;
			}
		}
		input[type='submit'] {
			border-bottom: solid $spacingXSmall $primary;
			font-weight: $fontWeightBlack;
			color: $primary;
			background: darken($primary, 8%);
			&:focus,
			&:hover {
				color: $white;
				background: lighten($primary, 4%);
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: $screenSmall) {
	form {
		input {
			padding: $spacingBase $spacingSmall;
		}
		.field {
			input[type='submit'] {
				color: $white;
			}
		}
	}
}
