@import 'theme/variables.scss';

.markdown-container {
	grid-area: main;
	width: 100%;
	max-width: $screenMedium;
	padding: $spacingMedium $spacingSmall $spacingMedium;
	margin: 0 auto;

	&.mobile {
		padding-bottom: $spacingLarge;
	}

	&.hide {
		display: none;
	}

	ol {
		padding-inline-start: 0;
		list-style: none;
		counter-reset: li;
		li {
			counter-increment: li;
			&:before {
				content: '.' counter(li);
				color: #c0c0c0;
				width: 2ch;
				margin-left: -3ch;
				text-align: right;
				direction: rtl;
				position: absolute;
			}
		}
	}
}

@media screen and (max-width: $screenLarge) {
	.markdown-container {
		padding: $spacingMedium $spacingMedium $spacingMedium;
	}
}

@media screen and (max-width: $screenSmall) {
	.markdown-container {
		padding: $spacingMedium $spacingSmall $spacingMedium;
	}
}
