@import 'theme/variables.scss';

.markdown-container {
	grid-area: main;
	width: 100%;
	max-width: $screenMedium;
	padding: $spacingMedium $spacingSmall $spacingMedium;
	margin: 0 auto;

	@media screen and (max-width: $screenMedium) {
		overflow: hidden;
	}

	&.mobile {
		padding-bottom: $spacingLarge;
	}

	&.hide {
		display: none;
	}

	div > ol {
		padding-inline-start: 0;
		list-style: none;
		counter-reset: li;
		> li {
			counter-increment: li;
			&:before {
				content: '.' counter(li);
				color: $neutral4;
				width: 2ch;
				margin-left: -3ch;
				text-align: right;
				direction: rtl;
				position: absolute;
			}
		}
	}

	table {
		width: 100%;
	}

	h2 {
		margin-top: 3em;
	}

	h3,
	h4 {
		margin-top: 1.5em;
		margin-bottom: 0.5em;
	}

	img {
		max-width: 100%;
	}
}

iframe {
	position: relative;
	left: -1px;
	top: -1px;
}

@media screen and (max-width: $screenLarge) {
	.markdown-container {
		padding: $spacingMedium $spacingMedium $spacingMedium;
	}
}

@media screen and (max-width: $screenMedium) {
	.markdown-container {
		padding: $spacingMedium $spacingSmall $spacingMedium;
	}
}
