@import '~theme/variables';

.container {
	margin: $spacingXLarge 0 0 $spacingLarge;
	padding-bottom: $spacingLarge;
	position: relative;
}

.image1 {
	background-image: url('/public/images/snow-man.jpg');
	background-position: center;
	height: 40vh;
	width: calc(50vw - 15%);
}

.image2 {
	background-image: url('/public/images/ticket.jpg');
	background-position: center;
	height: 40vh;
	width: 250px;
}

.whiteBox {
	background: $white;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	height: 200px;
	z-index: -1;
}
