@import '~theme/variables';

.container {
	padding-bottom: $spacingLarge;
	position: relative;
}

.image1 {
	background-image: url('/public/images/venue_jess.jpg');
	background-position: center;
	background-size: cover;
	height: 40vh;
	width: calc(50vw - 15%);
	position: absolute;
	left: 600px;
}

.image2 {
	background-image: url('/public/images/venue_ray.jpg');
	background-position: center;
	background-size: cover;
	height: 40vh;
	left: calc(calc(50vw - 15%) + 600px + 2rem);
	width: calc(50vw - 15%);
	position: absolute;
}

.whiteBox {
	background: $white;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	height: 200px;
	z-index: -1;
}

h3 {
	margin-top: 0.6em;
	padding-bottom: 1.4rem;
}

.address {
	margin-top: 0.5rem;
	position: absolute;
	left: 200px;
}

.address span {
	opacity: 0.7;
}

.address a,
.address a:visited {
	color: $black;
	padding-top: 0.4rem;
}

.venueInfo {
	max-width: 1200px;
	margin: 16rem auto 0;
	padding: 1rem;
	position: relative;
	min-height: 40vh;
}
