@import '~theme/variables';

.container {
	margin: $spacingXLarge 0 0 $spacingLarge;
	padding-bottom: $spacingLarge;
	position: relative;
}

.image1 {
	background-image: url('/public/images/venue_jess.jpg');
	background-position: center;
	background-size: cover;
	height: 40vh;
	width: calc(50vw - 15%);
	margin-left: 9vw;
}

.image2 {
	background-image: url('/public/images/venue_ray.jpg');
	background-position: center;
	background-size: cover;
	height: 40vh;
	margin-right: -1vw;
	width: 12vw;
}

.whiteBox {
	background: $white;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	height: 200px;
	z-index: -1;
}

h3 {
	margin-top: 0.6em;
	padding-bottom: 1.4rem;
}

.address {
	margin: 0.5rem 0 0 4vw;
}

.address span {
	opacity: 0.7;
}

.address a,
.address a:visited {
	color: $black;
	padding-top: 0.4rem;
}
