@import '~theme/variables';
@import '~theme/blueprints';


.background {
	background: $white;
}

.teasers {
	transform: translateY($spacingBase * 2);
}

.container {
	max-width: 960px;
	background-color: $white;
	margin: 0 auto;
}

.vertical {
	color: $main-l4;
	font-size: 13px;
	font-weight: $fontWeightBlack;
	letter-spacing: 2px;
	margin-top: $spacingMedium * 4;
	text-transform: uppercase;
	transform: rotate(-90deg) translateX(-$spacingMedium - $spacingSmall);
	white-space: nowrap;
}

.social {
	height: $spacingMedium;
	width: $spacingMedium;
	display: flex;
	margin: $spacingSmall $spacingXSmall;
	justify-content: center;
	align-items: center;
	background: $lightestGrey;
	border-radius: 50%;
	&:hover {
		background: $primary;
	}
}

 div > span > i {
	 color: $info;
	 font-size: 0.875rem;
 }
