@import '~theme/variables';

// Universal Footer styles
footer {
	padding: $spacingMedium 0 $spacingMedium;
}

// Light footer i.e. white backgound
footer.light {
	background-color: $white;
	color: $black;
	svg {
		fill: $black;
	}
	span {
		color: $darkGrey;
	}
	a {
		color: $darkestGrey;
	}
}

// Dark footer i.e. dark background
footer.dark {
	color: $white;
	svg {
		fill: $white;
	}
	a {
		color: $grey;
	}
}

// Styles for the Markdown footer
footer.markdown {
	background: inherit;
	max-width: 48rem;
	margin: $spacingSmall auto $spacingLarge;
	svg {
		fill: $grey;
	}

	&.mobile {
		padding-bottom: $spacingLarge;
	}

	&.hide {
		display: none;
	}
	.textContainer {
		padding: $spacingSmall 0 10vh;
	}
	> div {
		border-top: solid 1px $lightestGrey;
	}
}

@media screen and (max-width: $screenLarge) {
	footer.markdown {
		padding: $spacingSmall * 2;

		.textContainer {
			margin: 0 ($spacingSmall * -2);
		}
	}
}

@media screen and (max-width: $screenSmall) {
	footer.markdown {
		padding: 0 $spacingSmall;
		.textContainer {
			margin: 0 -$spacingSmall;
		}
	}
}
