@import '~theme/variables';

// Light footer i.e. white backgound
footer.light {
	background-color: $white;
	color: $black;
	svg {
		fill: $black;
	}
	span {
		color: $darkGrey;
	}
	a {
		color: $darkestGrey;
	}
}

// Dark footer i.e. dark background
footer.dark {
	background-color: $main-l1;
	color: $white;
	svg {
		fill: $white;
	}
	a {
		color: $grey;
	}
}

footer {
	padding: $spacingMedium 0 $spacingMedium;
}
