@import '~theme/variables';

.pagestyles {
	color: $main-l2;
	background-color: $white;
    background-image: none;
    overflow-x: hidden;

    font-family: $fontFamilySecondary;
    font-size: 62.5%;
}
.scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20vh;

    .down-arrow {

    }
}

.card-wrap {
    margin: 12rem 0;
}


.plxElementLeft {
    position: absolute;
    left: 0;
    z-index:0;
    opacity: 0.1;

    @media screen and (max-width: $screenSmall) {
        opacity: 0.2;
      }

    img {
        width: 40vw;
        @media screen and (max-width: $screenSmall) {
            width: 60vw;
          }
    }
}

.plxElementRight {
    position: absolute;
    right: 0;
    z-index:0;
    opacity: 0.1;

    @media screen and (max-width: $screenSmall) {
        opacity: 0.2;
      }
      
    img {
        width: 40vw;
        @media screen and (max-width: $screenSmall) {
            width: 60vw;
          }
    }
}