@import '~theme/variables';
@import '../../styles.module.scss';

.carousel {
    .primaryCarousel {
        width: 60vw;
        max-width: 106.66vh;
        margin-bottom: 40px;
        // 4:3 image ratio
        // .fourToThree 
        :global(.slick-slide) img {
            width: 60vw;
            height: 45vw; //set ratio to 4:3
            max-width: 106.66vh; //set ratio to 4:3
            max-height: 80vh;
            margin: 0;
        }
        :global(.slick-prev), :global(.slick-next) {
            height: 45vw;
        }

        //16:9 image ratio
        .sixteenToNine {
            :global(.slick-slide) img {
                width: 70vw;
                height: 39.375vw; //set ratio to 16:9
                max-width: 142.22vh; //set ratio to 16:9
                max-height: 80vh;
                margin: 0;
                object-fit: contain;
            }
            :global(.slick-prev),
            :global(.slick-next) {
                height: 39.375vw;
            }
        }

        }
    .navCarousel {
        :global(.slick-next),
        :global(.slick-prev) {
            display: none !important;
        }
        :global(.slick-list) {
            display: flex;
            justify-content: center;
        }
        :global(.slick-track) {
            display: flex;
            justify-content: center;
            transform: translate3d(0, 0, 0) !important;
        }
        :global(.slick-current) {
            padding: 2px;
            outline: 1px solid $primary !important;
        }
        :global(.slick-slide) {
            max-width: 94px;
            margin: 16px;
            cursor: pointer;
            transition: padding 0.1s, outline 0.1s;
        }
        :global(.slick-cloned) {
            display: none;
        }
        .slide {
            width: 96px;
            height: 96px;
            display: flex !important;
            justify-content: center;
            align-items: center;
            outline: none;
        }           
        img {
            width: unset;
            height: unset;
            max-width:100%;
            max-height:100%;
            margin: auto;
            width: 96px;
        }
        p {
            display: none;
        }
    }
}