@import '~theme/variables';

.flex {
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;

	// Justify Content
	justify-content: center; /* Pack items around the center */
	justify-content: start; /* Pack items from the start */
	justify-content: end; /* Pack items from the end */
	justify-content: flex-start; /* Pack flex items from the start */
	justify-content: flex-end; /* Pack flex items from the end */
	justify-content: left; /* Pack items from the left */
	justify-content: right; /* Pack items from the right */
	align-content: normal;
	justify-content: space-between; /* d */
	justify-content: space-around; /* Distrher end */
	justify-content: space-evenly; /* Distril space around them */
	justify-content: stretch; /*  */

	// Direction

	&.column {
		flex-direction: column;
	}

	&.column-reverse {
		flex-direction: column-reverse;
	}

	&.row {
		flex-direction: row;
	}
	&.row-reverse {
		flex-direction: row-reverse;
	}
}
