@import '~theme/variables';

.banner {
	margin-top: $spacingLarge;
	height: 72vh;
	max-height: $screenMedium;
	a {
		position: relative;
		h1 {
			width: 50vw;
			font-size: $fontSizeDisplay;
			line-height: 0.9;
			color: $white;
			z-index: 2;
			position: absolute;
			top: 40%;
			left: -10vw;
			font-weight: $fontWeightHeavy;
			text-shadow: 0 0.05rem 2rem rgba($black, 0.5);
		}
		.postData {
			position: absolute;
			top: 50%;
			right: -80%;
			order: 3;
			figcaption {
				transform: translateX(-$spacingLarge) rotate(-90deg);
				font-weight: $fontWeightHeavy;
				font-size: $fontSizeXSmall;
				text-transform: uppercase;
				color: $grey;
				letter-spacing: 0.5ch;
				width: 60ch;
				text-align: center;
			}
		}
		.postHero {
			height: 80vh;
			max-height: $screenMedium;
			font-size: $fontSizeMedium;
			font-family: $fontFamilySecondary;
			width: 100%;
			max-width: 68ch;
			z-index: 1;
			box-shadow: $elevation2;
		}

		img.headshot {
			border-radius: 50%;
			height: 4rem;
			margin-top: 0.2rem;
			width: 4rem;
			box-shadow: 0 0.1rem 3rem rgba(28, 27, 27, 0.2);
			position: absolute;
			left: calc(10vw - 2rem);
			bottom: -5rem;
		}
	}
	@media screen and (max-width: $screenMedium) {
		margin-top: $spacingBase;
		a {
			display: flex;
			flex-direction: column !important;

			h1 {
				font-size: $fontSizeLarge;
				padding-right: 5rem;
				width: 100%;
				order: 2;
				line-height: 1.2;
				position: relative;
				left: initial;
				background: $darkGrey;
				padding: $spacingMedium $spacingBase;
			}
			.postData {
				figcaption {
					display: none;
					visibility: hidden;
				}
			}
			.postHero {
				margin: 0;
				width: 100%;
				height: 40vh;
				order: 0;
			}
			img.headshot {
				left: 1.8rem;
				bottom: calc(100% - 2rem);
			}
		}
	}
}
