@import '~theme/variables';

.banner {
	padding-top: $spacingLarge;
	height: 72vh;
	max-height: $screenMedium;
	h1 {
		width: 60vw;
		font-size: $fontSizeDisplay;
		line-height: 0.9;
		color: $white;
		z-index: 2;
		position: relative;
		font-weight: $fontWeightHeavy;
		text-shadow: $elevation1;
	}
	.postData {
		width: 20vw;
		order: 3;
		figcaption {
			transform: translateX(-$spacingLarge) rotate(-90deg);
			font-weight: $fontWeightHeavy;
			font-size: $fontSizeXSmall;
			text-transform: uppercase;
			color: $grey;
			letter-spacing: 0.5ch;
			width: 60ch;
			text-align: center;
		}
	}
	.postHero {
		height: 80vh;
		max-height: $screenMedium;
		font-size: $fontSizeMedium;
		font-family: $fontFamilySecondary;
		width: 70vh;
		margin-left: -40vw;
		max-width: 68ch;
		z-index: 1;
		box-shadow: $elevation2;
	}

	img.headshot {
		border-radius: 50%;
		height: 4rem;
		margin-top: 0.2rem;
		width: 4rem;
		box-shadow: 0 0.1rem 3rem rgba(28, 27, 27, 0.2);
		position: absolute;
		left: calc(20vw - 2rem);
		bottom: -5rem;
	}
	@media screen and (max-width: $screenMedium) {
		flex-direction: column !important;

		h1 {
			font-size: $fontSizeXLarge;
			padding-right: 5rem;
			width: 100%;
			order: 2;
			background: $darkGrey;
			padding: $spacingMedium $spacingBase;
		}
		.postData {
			figcaption {
				display: none;
				visibility: hidden;
			}
		}
		.postHero {
			margin: 0;
			width: 100%;
			height: 50vh;
			order: 0;
		}
		img.headshot {
			left: 1.8rem;
			bottom: calc(100% - 2rem);
		}
	}
}
