/* ---------- Colors ---------- */

$blueprintsPrimary: #0b63ce;
$blueprintsDark: #204589;
$blueprintsSecondary: #6b6c7e;
$blueprintsText: #30313f;
$blueprintsTextLight: #393a4a;
$neutral7: #c4cacb;
$neutral8: #e8e8e7;
$neutral9: #f7f8f9;
