@import '~theme/variables';
@import 'theme/longform.scss';

.theme {
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	// homepages
	.background {
		background: $white;
	}

	.teasers {
		transform: translateY($spacingBase * 2);
	}

	.container {
		max-width: 960px;
		background-color: $white;
		margin: 0 auto;
	}
	@media screen and (max-width: $screenMedium) {
		.social-container {
			display: flex;
			flex-direction: row;
			margin: $spacingMedium 0 $spacingLarge;
			justify-content: center;
		}
	}
	.social {
		height: $spacingMedium;
		width: $spacingMedium;
		display: flex;
		margin: $spacingSmall $spacingXSmall;
		justify-content: center;
		align-items: center;
		background: $lightestGrey;
		border-radius: 50%;
		&:hover {
			background: $primary;
		}
	}
	// documentation part
	.mainContentWrapper {
		background: $white;
		min-height: 100vh;
		.content-wrapper {
			a {
				text-decoration: underline;
				font-weight: initial;
			}
		}
		img + em {
			color: $main-l3;
			font-size: $fontSizeSmall;
			text-align: center;
			display: inherit;
			margin-bottom: $spacingLarge;
		}
		table {
			margin: 4rem auto;
			box-shadow: $elevation1;
			border-radius: $spacingXSmall;
			td {
				vertical-align: top;
			}
			tr:nth-child(even) {
				background: $gray-bg-l1;
			}
			& > tbody > tr > td,
			& > thead > tr > th {
				border: none;
			}

			th:first-child {
				border-top-left-radius: $spacingXSmall;
			}
			th:last-child {
				border-top-right-radius: $spacingXSmall;
			}
			tr:last-child > td:first-child {
				border-bottom-left-radius: $spacingXSmall;
			}
			tr:last-child > td:last-child {
				border-bottom-right-radius: $spacingXSmall;
			}
			thead {
				@include small-caps;
				background: $main-l5;
				color: $main-l3;
			}
			th:first-child,
			td:first-child,
			th:last-child,
			td:last-child {
				padding: $spacingSmall;
			}
			@media screen and (min-width: $screenLarge) {
				width: 120%;
				margin-left: -10%;
			}
			@media screen and (max-width: $screenMedium) {
				box-shadow: none;
				border-radius: none;
				width: calc(100% + 0.8rem);
				margin-left: -$spacingXSmall;
				th:first-child,
				td:first-child,
				th:last-child,
				td:last-child {
					padding: $spacingXSmall;
				}
				thead {
					background: $gray-bg;
				}
			}
		}
	}

	.mobileNavbar {
		align-items: center;
		grid-area: nav;
		background: #f7f8f9;
		width: 100%;
	}

	.mobileMenuBar {
		background: $black;
		bottom: 0;
		display: none !important;
		left: 0;
		position: fixed;
		right: 0;
		z-index: 10;

		> * {
			cursor: pointer;
			margin: 1rem 1.5rem;
		}
	}

	@media screen and (max-width: $screenMedium) {
		.mobileMenuBar {
			display: flex !important;
		}
	}
}

:global(.footnotes) {
	ol {
		li {
			position: relative;
		}
	}
}
