@import '~theme/variables';

html,
body {
	height: 100%;
}

body {
	font-family: $fontFamilyPrimary;
	margin: 0;
}

.logo-usage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3rem 0;

	p {
		font-size: 1.2em;
		font-weight: bold;
		margin: 0 4ch 0 0;
	}

	> a {
		max-width: 230px;
		width: 33%;
	}
}
