@import '~theme/reset';
@import '~theme/variables';
@import '~react-md/src/scss/react-md';

// Liferay.Design Theme (overrides)
$md-font-family: $fontFamilyPrimary;
$md-font-regular: $fontWeightHeavy;

$md-primary-color: $primary;
$md-secondary-color: $secondary;

$md-light-theme: false;
$md-typography-extended: false;

@include react-md-everything;


html,
body {
	height: 100%;
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: $black;
	background-image: url(/images/diamond-bar-topography.png);
	background-repeat: no-repeat repeat;
	background-size: 100%;
	font-family: $fontFamilyPrimary;
	margin: 0;
	overflow-x: hidden;
}

.logo-usage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3rem 0;

	p {
		font-size: 1.2em;
		font-weight: bold;
		margin: 0 4ch 0 0;
	}

	> a {
		max-width: 230px;
		width: 33%;
	}
}