@import '~theme/variables';

html {
	height: initial;
	scroll-behavior: smooth;
}

body {
	height: 100%;
}

html,
body {
	font-size: 16px;
	font-family: $fontFamilyPrimary;
	margin: 0;
	// overflow-x: hidden; // fixing #660
	::selection {
		background: #05f;
		color: #fff;
	}
	::-moz-selection {
		background: #05f;
		color: #fff;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 1em;
	&:hover .nice-anchor {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}
}

h1 {
	line-height: 1.2;
}

a {
	text-decoration: none;
}

img {
	max-width: initial;
	object-fit: cover;
}

.logo-usage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 3rem 0;

	p {
		font-size: 1.2em;
		font-weight: bold;
		margin: 0 4ch 0 0;
	}

	> a {
		max-width: 230px;
		width: 33%;
	}
}

.nice-anchor {
	float: left;
	margin-left: -$spacingBase;
	padding-right: $spacingSmall;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.alert {
	background-color: #fff4ec;
	color: #b95000;
	border: 0.0625rem solid #ff8f39;
	padding: 6px 10px;
	border-radius: 4px;
	margin-bottom: 46px;
}

.small {
	font-size: 80%;
}

.d-block {
	display: block;
}
