@import '~theme/variables';

@mixin label {
	background-color: $white;
	border-radius: 0.125rem;
	border-style: solid;
	border-width: 0.0625rem;
	display: inline-flex;
	font-size: 10px;
	font-weight: 600;
	margin: 0 0.5rem 0 0;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
	text-transform: uppercase;
	white-space: nowrap;
}

@mixin documentLabel {
	position: relative;
	top: -2.5rem;
	@media (max-width: $grid-float-breakpoint - 1) {
		margin-top: 1.5rem;
	}
}
.theme {
	font-family: $fontFamilySystem;

	// lexicon homepage
	.vertical {
		@include small-caps;
		color: $main-l4;
		font-size: 13px;
		left: -4rem;
		position: absolute;
		top: 0;
		transform: rotate(-90deg) translateX(-$spacingMedium - $spacingSmall);
		white-space: nowrap;
		@media screen and (max-width: $screenMedium) {
			left: 0;
			position: relative;
			text-align: center;
			transform: initial;
		}
	}

	.claySection {
		background-color: $main-l2;
	}

	.clayCard {
		border-radius: $spacingSmall;
		margin: $spacingLarge auto;
		max-width: $spacingLarge * 5;
	}

	// documentation part
	.mainContentWrapper {
		.description {
			color: $main-l3;
			font-size: 28px;
			max-width: 700px;
			margin-bottom: 80px;
			line-height: 1.25;
			margin-top: -1rem;

			@media (max-width: $grid-float-breakpoint - 1) {
				font-size: 24px;
				margin-top: 8px;
			}
		}

		.description:after {
			background-color: $action;
			content: '';
			display: block;
			height: 0.25rem;
			position: relative;
			left: 0;
			bottom: -24px;
			width: 2rem;
		}

		.labelDraft {
			@include label;
			@include documentLabel;
			border-color: $main-l4;
			color: $main-l3;
			text-transform: uppercase;
		}

		.labelInfo {
			@include label;
			@include documentLabel;
			border-color: $info-l1;
			color: $info;
		}

		.labelInfoFull {
			@include label;
			@include documentLabel;
			border-color: $info;
			background-color: $info;
			color: $white;
		}

		.labelNeutral {
			@include label;
			@include documentLabel;
			border-color: $main-l3;
			color: $main;
		}

		p {
			line-height: 1.75;
			margin-bottom: $base-size * 0.7;

			a {
				color: $brand-primary;
			}
		}

		li {
			line-height: 1.5;
			margin-bottom: $base-size * 0.5;
		}

		table {
			border-collapse: collapse;
			font-size: 0.875rem;
			margin: 1.5rem 0 4rem;
			text-align: left;

			& > tbody > tr > td,
			& > thead > tr > th {
				border-bottom: 1px solid $main-l5;
				line-height: $base-size * 0, 75;
				padding: $base-size / 2;
				.lexicon-icon {
					min-width: 1rem;
				}
			}

			thead > tr > th {
				border-top-width: 0;
				border-bottom-width: 1px;
				color: $text-color;
				font-weight: 700;
				vertical-align: bottom;
				background-color: #f7f8fa;
			}

			td > p {
				display: inline;
			}
		}

		h1,
		h2,
		h3 {
			color: $main-l1;
			font-weight: 800;
			margin: $base-size 0;
			line-height: 1.25;
			letter-spacing: 0.4px;
			@media (min-width: $grid-float-breakpoint) {
				margin-bottom: $base-size;
				margin-top: $base-size * 2;
			}
		}

		h1 {
			font-size: 28px;
			@media (min-width: $grid-float-breakpoint) {
				font-size: 36px;
				padding: 1.5rem 0 1rem;
			}
		}

		h2 {
			font-size: ($base-size * 1.33);
			line-height: $base-size;
			padding-bottom: 24px;
		}

		h3 {
			font-size: $base-size;
			& + h4 {
				padding-top: 16px;
			}
		}

		h4 {
			font-size: $base-size * 0.675;
			font-weight: 800;
			line-height: 1.25;
			padding: 24px 0 16px;
		}

		time {
			display: inline-block;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 20px;
			margin-top: 2rem;
			text-transform: uppercase;
			color: $main-l3;
			& + p {
				margin-top: 0.25rem;
				font-size: 24px;
				font-weight: 800;
			}
		}

		header {
			margin: 0;

			@media (max-width: $grid-float-breakpoint - 1) {
				margin-top: 80px;
			}

			.container-fluid > h1 {
				margin: 0;
			}
		}

		h1.with-subtitle {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		//caption styling
		img + em {
			color: $main-l3;
			font-size: $fontSizeSmall;
			text-align: center;
			display: inherit;
			margin-bottom: $spacingMedium;
		}

		li > a {
			color: $brand-primary;
		}
	}
}

@mixin doDont {
	border-style: solid;
	font-weight: 600;
}

:global(.labelTag) {
	@include label;
}

:global(.labelCorrection) {
	@include documentLabel;
}

:global(.do) {
	@include doDont;
	border-color: $success-l1;
	color: $success;
	border-width: 4px 0px 0px 0px;
}

:global(.dont) {
	@include doDont;
	border-color: $error-l1;
	color: $error;
	border-width: 4px 0px 0px 0px;
}

:global(.avoid) {
	@include doDont;
	border-color: $warning-l1;
	color: $warning;
	border-width: 4px 0px 0px 0px;
}

:global(.do-text) {
	@include doDont;
	color: $success;
	border-width: 0px 0px 0px 4px;
	border-color: $success-l1;
	padding-left: 1rem;
}

:global(.dont-text) {
	@include doDont;
	color: $error;
	border-width: 0px 0px 0px 4px;
	border-color: $error-l1;
	padding-left: 1rem;
}

:global(.do-table) {
	@include doDont;
	color: $success;
	border-width: 0px 0px 4px 0px;
	border-color: $success-l1;
}

:global(.dont-table) {
	@include doDont;
	color: $error;
	border-width: 0px 0px 4px 0px;
	border-color: $error-l1;
}

:global(.example-text) {
	color: $main-l3;
	font-size: 14px;
}

:global(.adapting-columns) {
	column-count: 3;
}

:global(.adapting-columns-2) {
	column-count: 2;
}

:global(.tiny-text) {
	font-size: 10px;
}

:global(.image-container) {
	text-align: center;
	margin-top: 1.5rem;
}

:global(.dotDone) {
	color: $success-l1;
	margin-right: 0.5rem;
}

:global(.dotProgress) {
	color: $warning-l1;
	margin-right: 0.5rem;
}

:global(.dotWait) {
	color: $main-l4;
	margin-right: 0.5rem;
}

:global(.tableSection) {
	color: $main-l3;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

:global(.last-update) {
	color: $success;
	font-weight: 600;
}

:global(.labelDraft) {
	border-color: $main-l4;
	color: $main-l3;
	text-transform: uppercase;
}

:global(.labelInfo) {
	border-color: $info-l1;
	color: $info;
}

:global(.link-false) {
	color: $primary;
}
