@import 'theme/variables.scss';

aside {
	margin: $spacingMedium (-1 * $spacingMedium);
	font-family: $fontFamilyPrimary;
	font-size: $fontSizeLarge;
	font-weight: $fontWeightHeavy;
	color: $main-l3;
	text-align: center;
	&::before,
	&::after {
		content: '';
		display: block;
		width: 32%;
		background: $main-l6;
		height: 2px;
		border-radius: 1px;
		margin: $spacingMedium auto;
	}
}

blockquote {
	margin: $spacingMedium;
	position: relative;
	p,
	cite {
		font-size: $fontSizeMedium;
		color: $main-l1;
	}
	cite {
		display: block;
		font-style: italic;
		color: $main-l3;
	}
	&::before {
		content: '“';
		display: block;
		position: absolute;
		font-size: $fontSizeDisplay * 2;
		top: $fontSizeDisplay * -0.9;
		left: $fontSizeDisplay * -1;
		color: $main-l8;
		font-weight: $fontWeightBlack;
	}
}

@media screen and (max-width: $screenMedium) {
	aside {
		margin: initial;
	}
	blockquote {
		margin: $spacingSmall;
	}
}
