/* ---------- Colors ---------- */
// from lexicon
$lightestBlue: #f2f6ff;
$main-l8: #f5f5f8; //100

$gray-bg: #f1f2f5; //200
$gray-bg-l1: #f7f8f9;

$main: #272833;

$main-l1: #30313f;
$main-l2: #393a4a;
$main-l3: #6b6c7e;
$main-l4: #a7a9bc;
$main-l5: #cdced9;
$main-l6: #e7e7ed;

$main-d1: #1C1C24;
$main-d2: #111116;

$black-000: #13141f;

$primary: #0b5fff;
$secondary: #95bdff;

$primary-d2: #004ad7;
$primary-d1: #0053f0;
$primary-l1: #80acff;
$primary-l2: #b3cdff;
$primary-l3: #f0f5ff;

// Ye Olde Neutrals
// $darkGrey: #353638;
// $darkestGrey: #1f2123;
// $grey: #a4a4a4;
// $white: #fff;
// $black: #1c1b1b;
// $lightGrey: #c0c0c0;
// $lightestGrey: #e7e7e7;

// Lexicon Neutral Experiment
$darkGrey: $main-l1;
$darkestGrey: $main;
$grey: $main-l3;
$white: #fff;
$black: $black-000;
$lightGrey: $main-l5;
$lightestGrey: $main-l6;

// functional colors
$error: #da1414;
$error-l1: #f48989;
$error-l2: #feefef;
$success: #287d3c;
$success-l1: #5aca75;
$success-l2: #edf9f0;
$warning: #b95000;
$warning-l1: #ff8f39;
$warning-l2: #fff4ec;
$info: #2e5aac;
$info-l1: #89a7e0;
$info-l2: #eef2fa;
$action: #0b5fff;

// brand colors
$brandPrimary: #0b63ce;
$brandSecondary: #134194;
$brandDark: #204589;
$neutral1: #2c3a4b;
$neutral2: #394452;
$neutral3: #545d69;
$neutral4: #6d7580;
$neutral5: #858c94;
$neutral6: #a5abb3;
$neutral7: #dadee3;
$neutral8: #ebeef2;
$neutral9: #f4f6f9;

$accent1: #1aa0e8;
$accent2: #e06e31;
$accent3: #d33a2f;
$accent4: #42bfc2;
$accent5: #e55e75;
$accent6: #19ab4f;
$accent7: #503690;
$accent8: #fdcc4a;
$accent9: #47c6f5;

/* ---------- Lexicon site --------- */
$brand-primary: $action;

$bg-color: $white;
$sidebar-bg-color: $main-l8;

$text-color: $main-l2;
$text-color-light: $main-l3;

/* ---------- Font family ---------- */

$fontFamilyPrimary: 'Source Code Pro', 'Menlo', monospace;
$fontFamilySecondary: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif;
$fontFamilySystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* ---------- Font sizes ---------- */

$fontSizeXSmall: 0.8rem;
$fontSizeSmall: 0.9rem;
$fontSizeBase: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.8rem;
$fontSizeXLarge: 2.2rem;
$fontSizeXXLarge: 3rem;
$fontSizeDisplay: 5rem;

/* ---------- Font weights ---------- */

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightHeavy: 600;
$fontWeightBlack: 700;

/* ---------- Padding & Margin ---------- */
$top: 100;
$middle: 0;
$bottom: -100;

/* ---------- Padding & Margin ---------- */

$spacingXSmall: 0.4rem;
$spacingSmall: 1rem;
$spacingBase: 2rem;
$spacingMedium: 3rem;
$spacingLarge: 8rem;
$spacingXLarge: 16rem;
$spacingXXLarge: 32rem;

/* ---------- Elevations & Shadows ---------- */

$elevation0: 0 0.05rem 1rem -0.5rem rgba($black, 0.5);
$elevation1: 0 0.1rem 3rem rgba($black, 0.08);
$elevation2: 0 0.5rem 5rem -1rem rgba($black, 0.16);
$elevation3: 0 0.5rem 8rem -0.5rem rgba($black, 0.16);
$elevationText0: 0 0.05rem 1rem rgba($black, 0.5);
$elevationText1: 0 0.1rem 3rem rgba($black, 0.08);
$elevationText2: 0 0.5rem 5rem rgba($black, 0.16);
$elevationText3: 0 0.5rem 8rem rgba($black, 0.16);

/* ---------- Screen Sizes ---------- */
// rem @ 16px
$screenSmall: 448px; // 28rem
$screenMedium: 768px; // 48rem
$screenLarge: 1280px; // 80rem
$screenXLarge: 1920px; // 120rem

/* ---------- Lexicon Sizes ----------- */
$output-bourbon-deprecation-warnings: false;

$base-size: 24px; // 1.5rem aprox

// Screen sizes
$screen-md: 900px;
$screen-sm: 900px;
$screen-xs: 768px;

$grid-float-breakpoint: $screen-sm;

// Sizes
$content-max-width: 960px;
$sidebar-width: 376px;
$margin-top-body: $base-size * 4;

// Weights

$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

/* ---------- Mixins ----------- */

@mixin small-caps {
	text-transform: uppercase;
	letter-spacing: 0.25ch;
	font-weight: $fontWeightBlack;
}

// neumorphism

$neuBoxShadowXSmall: $spacingXSmall $spacingXSmall ($spacingXSmall * 1.2)
		rgba($neutral8, 0.6),
	(-$spacingXSmall) (-$spacingXSmall) ($spacingXSmall * 1.2) rgba($white, 0.9);
$neuBoxShadowBase: $spacingBase $spacingBase ($spacingBase * 1.2) rgba($neutral8, 0.6),
	(-$spacingBase) (-$spacingBase) ($spacingBase * 1.2) rgba($white, 0.9);

@mixin neu-base {
	border: solid 2px rgba($white, 0.4);
	border-radius: $fontSizeMedium;
	box-shadow: $neuBoxShadowBase;
}
