/* ---------- Colors ---------- */

$primary: #0b5fff;
$secondary: #95bdff;
$darkGrey: #353638;
$darkestGrey: #1f2123;
$grey: #a4a4a4;
$white: #fff;
$black: #1c1b1b;
$lightGrey: #c0c0c0;
$lightestGrey: #e7e7e7;

// from lexicon
$lightestBlue: #f2f6ff;

// blueprints
$brandDark: #204589;

/* ---------- Global sizes ---------- */

$globalHeaderHeight: 131px;

/* ---------- Font family ---------- */

$fontFamilyPrimary: 'Source Code Pro', 'Menlo', monospace;
$fontFamilySecondary: 'Source Sans Pro', Tahoma, 'Trebuchet MS', sans-serif;

/* ---------- Font sizes ---------- */

$fontSizeXSmall: 0.8rem;
$fontSizeSmall: 0.9rem;
$fontSizeBase: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.8rem;
$fontSizeXLarge: 2.2rem;
$fontSizeXXLarge: 3rem;
$fontSizeDisplay: 5rem;

/* ---------- Font weights ---------- */

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightHeavy: 600;
$fontWeightBlack: 700;

/* ---------- Padding & Margin ---------- */

$spacingXSmall: 0.4rem;
$spacingSmall: 1rem;
$spacingBase: 2rem;
$spacingMedium: 3rem;
$spacingLarge: 8rem;
$spacingXLarge: 16rem;
$spacingXXLarge: 32rem;

/* ---------- Elevations & Shadows ---------- */

$elevation1: 0 0.1rem 3rem rgba($black, 0.08);
$elevation2: 0 0.5rem 5rem -1rem rgba($black, 0.16);
$elevation3: 0 0.5rem 8rem -0.5rem rgba($black, 0.16);

/* ---------- Screen Sizes ---------- */

$screenSmall: 28rem;
$screenMedium: 48rem;
$screenLarge: 80rem;
$screenXLarge: 120rem;
