@import '~theme/variables';

.entry {
	&:last-child > a,
	&:last-child > button {
		padding: $spacingSmall 0 $spacingSmall $spacingBase;
		&::after {
			right: 0;
			background: $primary;
		}
	}
	a,
	button {
		color: $main-l4;
		margin: 0;
		padding: $spacingSmall;
		position: relative;
		// font-size: $fontSizeSmall !important;
		transition: color 0.2s ease-out;
		&::after {
			background: $white;
			bottom: 0;
			content: '';
			right: $spacingSmall;
			position: absolute;
			height: 3px;
			transition: transform 0.4s ease;
			transform-origin: right;
			transform: scaleX(0);
			width: $spacingBase;
		}
		&:hover {
			color: $white;
			transition: color 0.4s ease-out;
			&::after {
				transition: transform 0.2s ease;
				transform: scaleX(1);
			}
		}

		&.selected {
			border-bottom: 1px solid $black;

			.entry a {
				color: $white;
			}
		}
	}
}
@media screen and (max-width: $screenMedium) {
	.items {
		overflow: scroll;
		background: $black;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		padding: $spacingXSmall $spacingSmall $spacingSmall;
		&::after {
			content: '';
			height: 4.2rem;
			width: $spacingBase;
			background: linear-gradient(
				to right,
				rgba(19, 20, 31, 0),
				rgba(19, 20, 31, 0.9)
			);
			position: fixed;
			right: 0;
			bottom: 0;
		}
	}
	.entry {
		min-width: 14ch;
		justify-content: flex-end;
		a,
		button {
			padding: $spacingXSmall * 2;
		}
	}

	.entry a,
	.entry button {
		&::after {
			right: initial;
			left: calc(50% - 1rem);
			transform-origin: center;
		}
		&:last-child {
			padding-right: $spacingBase;
		}
	}
}
