@import '~theme/variables';
.card {
	background: $white;
	box-shadow: $elevation1;
	border-radius: $spacingXSmall;
	max-width: $screenSmall;
	.loginButton button {
		background: $primary !important;
		border-color: $primary !important;
		color: $white !important;
		width: 100%;
		&:hover {
			background: darken($primary, 8%) !important;
		}
		&:hover a {
			color: $lightestGrey !important;
		}
	}
}
