@import '~theme/variables';

.siteName {
	color: $white;
	font-size: $fontSizeMedium;
	padding-bottom: 0;
	line-height: 1.6;

	&:after {
		content: '';
		width: $spacingBase;
		height: 3px;
		background: $primary;
		display: block;
		margin-top: 1rem;
	}

	&.dark {
		color: $black;
	}

	@media screen and (max-width: $screenSmall) {
		position: initial;
	}
}
