@import '~theme/variables';

.siteName {
	font-size: $fontSizeMedium;
	padding-bottom: 0;
	line-height: 1.6;
	position: relative;
	a {
		color: $white;
	}
	.underline {
		position: absolute;
		width: $spacingBase;
		height: 3px;
		background: $primary;
		display: block;
		margin-top: 1rem;
	}

	&.dark {
		color: $black;
		a {
			color: $black;
			&:hover {
				color: $primary;
			}
		}
	}

	// @media screen and (max-width: $screenSmall) {
	// 	position: initial;
	// }
}
