@import '~theme/variables';
@import '../../styles.module.scss';

.date {
	.month {
		color: $lightBlue;
		font-size: 18px;
		line-height: 18px;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		margin-right: -0.3em;
	}
	.day {
		font-size: 46px;
		color: $white;
		letter-spacing: -0.05em;
		line-height: 1;
	}
}

.image {
	width: $spacingXSmall;
	height: $spacingXSmall;
	border-radius: 50%;
	margin: auto;
	border: 0.5vw solid $twentyTwentyBlue;
	position: relative;
	transition: all 0.35s ease-out;
	opacity: 0.8;
	&:global(.Plx--active) {
		width: 4vw;
		height: 4vw;
		border-width: 0;
		opacity: 1;
	}
}
h4.pLarge {
	margin: 0;
	font-size: 2.2vw;
	color: $white;
	font-weight: 500;
	position: relative;
	span {
		color: $grayHeader;
		font-weight: $fontWeightLight;
	}
	@media (max-width: 900px) {
		font-size: 32px;
	}
}
@media (max-width: 599px) {
	.designerHeadshot {
		display: none;
	}
	.image {
		width: 1rem;
		height: 1rem;
		&:global(.Plx--active) {
			width: 4rem;
			height: 4rem;
		}
	}
}
