.simpleCard {
	background: #1B1C1E;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 32px;
	position: relative;
	overflow: hidden;
	.cardImage {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 40%;
		height: 40px;
	}
	.f3 {
		padding: 40px;
	}
	.pSmall {
		opacity: 0.7;
	}
	.p {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		margin: 0;
		transform: translateY(100%);
		transition: 0.6s cubic-bezier(0.37, 0.29, 0.01, 0.99);
		cursor: default;
	}
	&:hover {
		.p {
			transform: translateY(0);
			transition: 0.2s cubic-bezier(0.37, 0.29, 0.01, 0.99);
		}
	}
}