@import '~theme/variables';

.card {
	color: $white;
	background: $darkGrey;
	box-shadow: 0 0.5rem 5rem -1rem rgba(0, 0, 0, 0.3);
	height: 100%;
	transform: translateY(0);
	transition: all 0.15s ease-in-out;
	width: 100%;
	&:hover {
		transform: translateY(-0.2rem);
		transition: all 0.2s ease-in-out;
		box-shadow: 0 0.5rem 8rem -0.5rem rgba(0, 0, 0, 0.5);
		background: $darkestGrey;
	}
	.avatar {
		border: none;
		background: $darkestGrey;
		margin: -$spacingBase 1.8rem 0;
		height: $spacingBase * 2;
		width: $spacingBase * 2;
		position: absolute;
	}

	.null {
		img {
			filter: grayscale(1);
		}
	}
	.copy {
		padding: ($spacingBase + $spacingXSmall) $spacingBase $spacingMedium;
		.title {
			font-size: $fontSizeLarge;
			padding: 0;
		}
		.text {
			color: $grey;
			font-size: $fontSizeMedium;
			padding: 0;
		}
	}
}
