@import '~theme/variables';

.cardLink {
	&:hover {
		.sexyShadow {
			opacity: 0.64;
			transition: opacity 0.2s ease-in-out;
		}
	}
	.sexyShadow {
		filter: blur($spacingMedium);
		transition: opacity 0.15s ease-in-out;
		opacity: 0;
	}
}

@-moz-document url-prefix() {
	.cardLink {
		.sexyShadow {
			display: none;
		}
	}
}
.card {
	box-shadow: 0 0.5rem 5rem -1rem rgba(0, 0, 0, 0.3);
	transform: translateY(0);
	transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
	&:hover {
		transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
		transform: translateY(-0.2rem);
		&:after {
			opacity: 1;
		}
	}
	&:after {
		transition: opacity 0.2s ease-in-out;
		box-shadow: 0 0.5rem 8rem -0.5rem rgba(0, 0, 0, 0.4);
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
	}

}
