@import '~theme/variables';

.cardLink {
	position: relative;
	&:hover {
		.sexyShadow {
			opacity: 0.64;
			transition: opacity 0.2s ease-in-out;
		}
	}
	.sexyShadow {
		filter: blur($spacingMedium);
		transition: opacity 0.15s ease-in-out;
		opacity: 0;
	}
}

@-moz-document url-prefix() {
	.cardLink {
		.sexyShadow {
			display: none;
		}
	}
}
.card {
	color: $white;
	background: $darkGrey;
	box-shadow: 0 0.5rem 5rem -1rem rgba(0, 0, 0, 0.3);
	height: 100%;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
	width: 100%;
	&:hover {
		transition: transform 0.15s ease-in-out, background 0.15s ease-in-out;
		transform: translateY(-0.2rem);
		background: $darkestGrey;
		&:after {
			opacity: 1;
		}
		.null {
			img {
				filter: grayscale(0);
				transition: filter 200ms ease-in-out;
			}
		}
	}
	&:after {
		transition: opacity 0.2s ease-in-out;
		box-shadow: 0 0.5rem 8rem -0.5rem rgba(0, 0, 0, 0.4);
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0;
		top: 0;
	}
	.avatar {
		border: none;
		background: $darkestGrey;
		margin: -$spacingBase 1.8rem 0;
		height: $spacingBase * 2;
		width: $spacingBase * 2;
		position: absolute;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.null {
		img {
			transition: filter 200ms ease-in-out;
			filter: grayscale(1);
		}
	}
	.copy {
		padding: ($spacingBase + $spacingXSmall) $spacingBase $spacingMedium;
		.title {
			font-size: $fontSizeLarge;
			margin: $spacingSmall 0;
			padding: 0;
		}
		.text {
			color: $lightGrey;
			font-size: $fontSizeMedium;
			padding: 0;
		}
	}
	.pill {
		background: $action;
		margin: $spacingSmall;
		line-height: 2.5;
		border-radius: $spacingMedium;
		position: absolute;
		top: $spacingSmall;
		right: $spacingXSmall;
		width: 38%;
		text-align: center;
	}
}
