@import '~theme/variables';

.container {
	position: relative;
}

.mediaWrapper {
	margin-top: -4%;
	height: 80vh;
	right: 0;
}

.mediaContainer {
	position: relative;
	height: 60vh;

	img {
		object-fit: cover;
		height: 64vh;
		margin-right: 30vw;
		width: 60vw;
	}
}

.mediaText {
	position: absolute;
	margin-top: -17vh;
	height: 49vh;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background: $white;
	width: 40%;
}

.whiteSeparator {
	background: $white;
	height: 200px;
	width: 100%;
}

.textContainer {
	padding-bottom: 10vh;
}

.credits {
	padding-bottom: 5vh;
}

.footer {
	margin: 0 auto;
	max-width: 1200px;
	padding: $spacingSmall;
}

.social {
	width: 320px;
}

.social a {
	opacity: 0.7;
	position: relative;
	&::after {
		background: $black;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		height: 1px;
		transition: transform 0.4s ease;
		transform: scaleX(0);
		width: 100%;
	}
	&:hover {
		opacity: 1;
	}
	&:hover::after {
		transition: transform 0.2s ease;
		transform: scaleX(1);
	}
}

.credits a {
	font-weight: $fontWeightRegular;
	color: $white;
}
