@import '~theme/variables';

.container {
	position: relative;
}

.mediaWrapper {
	margin-top: -4%;
	height: 80vh;
	right: 0;
}

.mediaContainer {
	position: relative;
	height: 60vh;

	img {
		object-fit: cover;
		height: 64vh;
		margin-right: 30vw;
		width: 60vw;
	}
}

.mediaText {
	position: absolute;
	margin-top: -17vh;
	height: 49vh;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background: $white;
	width: 40%;
}

.whiteSeparator {
	background: $white;
	height: 200px;
	width: 100%;
}

.textContainer {
	height: 200px;
}

.credits {
	padding: $spacingSmall;
}

.subFooter {
	display: flex;
}
