@import '~theme/variables';

$loadingAnimationDuration: 1.6s; // so we don't have to keep track of this
$cubicTransition: cubic-bezier(0, 0.85, 0.5, 1); // easier to reuse
$bgTransitionTiming: $loadingAnimationDuration * .8;

.page {
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.cta,
.sidebar {
	animation: animateIn $bgTransitionTiming $loadingAnimationDuration $cubicTransition
		forwards;
	transform: translateX(100%);
	transform-origin: right;
}

@keyframes animateIn {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
