@import '~theme/variables';

$loadingAnimationDuration: 1.6s; // so we don't have to keep track of this

html,
body {
	background: initial; // reset the page background so there's no flash onload
}

.page,
.bgImage {
	height: 100vh;
	width: 100vw;
}

.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: -1;
	animation: animateIn ($loadingAnimationDuration / 2) $loadingAnimationDuration
		ease-in-out forwards;
	opacity: 0;
	transform: translateX(-$spacingLarge);
}

@keyframes animateIn {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
