@import '~theme/variables';

// COLORS
$black: #1f2123;
$darkBlack: #1b1c1e;
$lightBlack: #1f2123;
$grayHeader: #555e68;
$grayParagraph: #888b9b;
$twentyNineteenBlue: $primary;

// FONT
@font-face {
	font-family: 'SourceSans';
	src: url('/fonts/SourceSansVariable-Roman.ttf.woff2') format('woff2');
	font-weight: 1 999;
}

// BREAKPOINTS
$breakpoint-for-phone-only: 599px;
$breakpoint-for-tablet-portrait-up: 600px;
$breakpoint-for-tablet-landscape-up: 900px;
$breakpoint-for-desktop-up: 1200px;
$breakpoint-for-large-desktop-up: 1800px;

@mixin for-phone-only {
	@media (max-width: $breakpoint-for-phone-only) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: $breakpoint-for-tablet-portrait-up) {
		@content;
	}
}

@mixin for-tablet-portrait-only {
	@media (min-width: $breakpoint-for-tablet-portrait-up) and (max-width: $breakpoint-for-tablet-landscape-up - 1px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: $breakpoint-for-tablet-landscape-up) {
		@content;
	}
}

@mixin for-tablet-landscape-only {
	@media (min-width: $breakpoint-for-tablet-landscape-up) and (max-width: $breakpoint-for-desktop-up - 1px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: $breakpoint-for-desktop-up) {
		@content;
	}
}

@mixin for-desktop-only {
	@media (min-width: $breakpoint-for-desktop-up) and (max-width: $breakpoint-for-large-desktop-up - 1px) {
		@content;
	}
}

@mixin for-large-desktop-up {
	@media (min-width: $breakpoint-for-large-desktop-up) {
		@content;
	}
}

// GLOBAL KEYFRAMES
@keyframes fadeIn100 {
	to {
		opacity: 1;
	}
}
@keyframes fadeIn30 {
	to {
		opacity: 0.3;
	}
}
@keyframes fadeIn10 {
	to {
		opacity: 0.1;
	}
}
@keyframes grow0to100 {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

// GLOBAL STYLES
.pagestyles {
	background: $black;
	font-family: 'SourceSans', sans-serif;
	font-weight: $fontWeightBlack;
	overflow-x: hidden;
	.f1,
	.f3,
	.f3Large,
	.f4 {
		font-weight: $fontWeightBlack;
		padding: 0;
		margin: 0;
		color: $white;
	}
	.f2 {
		font-size: 11vw;
		@include for-tablet-landscape-up {
			font-size: 4.375vw; //70px
		}
	}
	.f3Large {
		font-size: 8vw;
		line-height: 100%;
		@include for-tablet-landscape-up {
			font-size: 2.875vw; //48px
		}
	}
	.f3 {
		line-height: 100%;
		font-size: 6vw;
		@include for-tablet-landscape-up {
			font-size: 2.5vw; //65px
		}
	}
	.f4 {
		line-height: 122%;
		font-size: 5.5vw;
		@include for-tablet-landscape-up {
			font-size: 2vw; //32px
		}
	}
	.pLarge,
	.p,
	.pSmall,
	div,
	span {
		color: $grayParagraph;
	}
	.pLarge {
		font-size: 4.4vw;
		@include for-tablet-landscape-up {
			font-size: 2.2vw;
		}
	}
	.pSmall {
		font-size: 16px;
		font-weight: 400;
		color: $grayParagraph;
	}
	.link {
		font-size: 20px;
		font-weight: 700;
		color: $twentyNineteenBlue;
		line-height: 1.5;
		position: relative;
		margin-right: 52px;
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='46' height='12' viewBox='0 0 46 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.4227 5.01025L38.9227 0.0102539L37.5773 1.49013L41.1634 4.75019L0.25 4.75019V6.75019L41.1634 6.75019L37.5773 10.0103L38.9227 11.4901L44.4227 6.49013L45.2366 5.75019L44.4227 5.01025Z' fill='%23006DE7'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			position: absolute;
			right: -52px;
			bottom: 4px;
			width: 45px;
			height: 13px;
			transition: 0.1s ease-in-out;
			transition-delay: 0.2s;
		}
		&:before {
			content: '';
			height: 2px;
			background: $twentyNineteenBlue;
			width: calc(100% + 8px);
			bottom: 10px;
			position: absolute;
			transform-origin: right;
			transform: scaleX(0);
			transition: 0.4s cubic-bezier(0.37, 0.29, 0.01, 0.99);
		}
		&:hover {
			&:before {
				transform: scaleX(1);
				transition: 0.15s cubic-bezier(0.37, 0.29, 0.01, 0.99);
			}
			&:after {
				right: -40px;
				transition-delay: 0s;
			}
		}
	}
	section {
		width: 100vw;
		margin: 0 auto;
		max-width: 1440px;
		position: relative;
		padding: $spacingXLarge 20px;
		@include for-tablet-portrait-up {
			padding: $spacingXLarge 96px;
		}
	}
}

// HERO
section.hero {
	min-height: 100vh;
	width: 100vw;
	position: relative;
	padding-top: 0;
	.heroGrid {
		grid-template-rows: 70vh auto auto;
		gap: 2rem;
		.f2 {
			font-weight: $fontWeightBlack;
			text-align: center;
			span {
				opacity: 0;
				animation: designReport 0.6s linear forwards;
				color: $white;
				animation-delay: 2s;
				&:first-of-type {
					color: $grayHeader;
					padding-right: 0.2em;
					animation-delay: 1.8s;
					animation-duration: 0.8s;
				}
			}
		}
		.pLarge {
			color: $grayParagraph;
			max-width: 48ch;
			font-weight: $fontWeightRegular;
			text-align: center;
			margin: 0 auto;
		}
		.keyArt {
			height: 100%;
		}
	}
}
@include for-tablet-landscape-up {
	section.hero {
		.heroGrid {
			grid-template-columns: 1fr 50% 1fr;
			grid-template-rows: 100vh auto;
			gap: 4rem;
			.keyArt {
				grid-area: 1 / 2 / 2 / 3;
			}
			.f2 {
				grid-area: 1 / 3 / 2 / 4;
				text-align: left;
				span {
					display: block;
				}
			}
			.pLarge {
				grid-area: 2 / 1 / 3 / 4;
			}
		}
	}
}
@keyframes designReport {
	to {
		opacity: 1;
	}
}

// SECTION HEADER
.sectionHeader {
	padding: 10vh;
	img {
		height: 2.5vw;
		min-height: 30px;
		width: auto;
		margin: 2% auto;
	}
	svg {
		width: 100%;
	}
}

// DEPARTMENT
.department {
	background: $darkBlack;
	padding: 80px 0 0;
	position: relative;
	text-align: center;
	.organizationContent {
		padding: 40px;
		svg {
			min-width: 116px;
			min-height: 116px;
			flex: 0 0 7.25vw;
		}
		.desicon {
			text-align: center;
			grid-row-start: 1;
			.p,
			.pLarge {
				text-align: center;
				margin-bottom: 0;
			}
			img {
				width: 70%;
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		right: -48px;
		bottom: -48px;
		width: 395px;
		height: 305px;
		background: url('/images/2019/dots-department.svg');
		background-size: 100%;
	}
	.departmentNames {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		.f4 {
			font-weight: 700;
			margin-bottom: 0.4em;
			padding-bottom: 0;
			span {
				opacity: 0.7;
				font-weight: 400;
			}
		}
		.pSmall {
			color: $white;
			opacity: 0.5;
		}
		div {
			width: 100%;
			min-height: 160px;

			&:nth-of-type(1) {
				background: #0a44b4;
			}
			&:nth-of-type(2) {
				background: #0a3a97;
			}
			&:nth-of-type(3) {
				background: #072b71;
			}
		}
		img {
			width: 100%;
			border: 4px solid $darkBlack;
			margin: 0;
		}
	}
}
@include for-tablet-landscape-up {
	.department {
		.departmentNames {
			flex-flow: row;
		}
	}
}
@include for-desktop-up {
	.department {
		padding: 120px 0 0;
		.organizationContent {
			text-align: left;
			grid-template-columns: 1fr 1fr;
			.desicon {
				grid-column-start: 2;
				align-self: center;
			}
		}
	}
}

// NEW FACES
.newFaces {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $darkBlack;
	padding: 80px 40px;
	.timeline {
		position: relative;
		.line {
			position: absolute;
			left: 50%;
			width: 1px;
			height: 100%;
			@include for-tablet-portrait-up {
				left: 65px;
			}
		}
	}
}
//GROWTH
.growth {
	display: flex;
	flex-direction: column;
	align-items: center;
	.recentPromotions {
		background: $darkBlack;
		margin-top: 128px;
		padding: 0 40px 80px;
		.growTool {
			width: 100%;
			margin-top: -64px;
		}
		.f3 {
			padding: 40px 0;
		}
	}
	.promotionCard {
		display: grid;
		align-items: center;
		justify-items: center;
		row-gap: 40px;
		padding: 48px;
		margin: 24px 0;
		background: $lightBlack;
		img {
			width: 240px;
			height: 240px;
			object-fit: cover;
			margin: 0;
		}
		.f3Large {
			padding: 8px 0;
			span {
				color: $grayParagraph;
			}
		}
		.f4 {
			padding: 8px 0;
		}
		span {
			font-weight: 400;
		}
	}
}
@include for-tablet-landscape-up {
	.growth {
		.recentPromotions {
			.growTool {
				width: 50%;
			}
		}
		.promotionCard {
			justify-items: left;
			flex-direction: row;
			text-align: left;
			grid-auto-flow: column;
			grid-template-columns: auto 1fr 1fr;
			column-gap: 64px;
			img {
				width: 160px;
				height: 160px;
			}
		}
	}
}

// CHARITY DESIGN
.mediaSection {
	.fiftyFifty {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		div,
		img {
			width: 100%;
		}
	}
	.services {
		padding: 48px 0;
		ul {
			min-width: 225px;
			li {
				color: $white;
				font-weight: $fontWeightRegular;
			}
		}
		.p {
			max-width: none;
			padding-bottom: 40px;
			& > span {
				color: $white;
				font-weight: 700;
				padding: 0 32px 0 0;
				width: 240px;
			}
		}
	}
}
@include for-tablet-landscape-up {
	.mediaSection {
		.fiftyFifty {
			flex-flow: row;
			.left {
				padding-right: 96px;
				width: 50%;
			}
			img {
				width: 50%;
				height: 50%;
				margin-right: -80px;
			}
		}
		.services {
			ul {
				margin: 0;
			}
			li {
				display: inline-block;
				padding: 0 28px;
				margin: 0;
				&:first-of-type {
					padding-left: 0;
				}
			}
		}
	}
}

// THOUGHT LEADERSHIP
.dbp {
	background: $darkBlack;
	padding: 80px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	div {
		text-align: center;
	}
	.dbpGrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 16px;
		row-gap: 16px;
		padding-top: 80px;
		position: relative;
		img {
			width: 100%;
			border: 8px solid $lightBlack;
			margin: 0;
			&:nth-of-type(odd) {
				display: none;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 40%;
			background: linear-gradient(180deg, rgba(27, 28, 30, 0) 20%, $darkBlack 100%);
			z-index: 1;
		}
	}
}
@include for-tablet-landscape-up {
	.dbp {
		padding: 120px 40px;
		.dbpGrid {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			img:nth-of-type(odd) {
				display: block;
			}
		}
	}
}

// COMMUNITY
.ourEvents {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.cardGrid {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 60vw;
		column-gap: 20px;
		row-gap: 20px;
		width: 100vw;
		padding: 80px 20px;
		overflow: scroll;
	}
}
@include for-tablet-landscape-up {
	.ourEvents {
		.cardGrid {
			width: 100%;
			grid-auto-flow: row;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
.simpleCard,
.seeMoreCard {
	background: $darkBlack;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	color: $white;
	padding: 32px 24px;
	position: relative;
	overflow: hidden;
	.cardImage {
		object-fit: contain;
		margin: 0;
		width: 40%;
		height: 40px;
	}
	.f3 {
		padding: 40px;
	}
	.pSmall {
		opacity: 0.7;
	}
	.p {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $white;
		margin: 0;
		transform: translateY(100%);
		transition: 0.6s cubic-bezier(0.37, 0.29, 0.01, 0.99);
		cursor: default;
	}
	&:hover {
		.p {
			transform: translateY(0);
			transition: 0.2s cubic-bezier(0.37, 0.29, 0.01, 0.99) 0.05s;
		}
	}
}

// DRIBBBLE
.dribbble {
	background: $darkBlack;
	padding: 80px 20px;
}
@include for-tablet-landscape-up {
	.dribbble {
		padding: 120px 40px;
	}
}

// GLOBAL SERVICES
.ops {
	background: $darkBlack;
	padding: 80px 20px;
}

@include for-tablet-landscape-up {
	.ops {
		padding: 120px 40px;
	}
}
