.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
	transition: all 0.25s ease-in;
	background: #fff;
	bottom: -5vw;
	width: 5vw;
	height: 5vw;
	border: 0.2vw #d5d5d5 solid;
	border-radius: 0;
	transition: all 0.25s ease-in;
	opacity: 1;
	position: absolute;
	z-index: 2;
	border: 0;
	cursor: pointer;
	margin: 0;
}
.carousel .control-arrow:focus,
.carousel.carousel-slider .control-arrow:focus {
	outline: none;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0.1vw #d5d5d5 solid;
	border-bottom: 0.3vw #d5d5d5 solid;
	font-family: 'Source Sans Pro';
	font-size: 3vw;
	color: #595959;
}

.carousel .control-arrow:hover {
	opacity: 1;
}

.carousel .control-disabled.control-arrow {
	opacity: 0;
	cursor: inherit;
	display: none;
}

.carousel .control-prev.control-arrow {
	right: 4.9vw;
}
.carousel .control-prev.control-arrow:before {
	content: url("data:image/svg+xml,%3Csvg width='100%' height='100%' style='transform: rotate(180deg)' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2929 25.7071C27.9024 25.3166 27.9024 24.6834 28.2929 24.2929C28.6834 23.9024 29.3166 23.9024 29.7071 24.2929L28.2929 25.7071ZM38 34L38.7071 33.2929C39.0976 33.6834 39.0976 34.3166 38.7071 34.7071L38 34ZM29.7071 43.7071C29.3166 44.0976 28.6834 44.0976 28.2929 43.7071C27.9024 43.3166 27.9024 42.6834 28.2929 42.2929L29.7071 43.7071ZM29.7071 24.2929L38.7071 33.2929L37.2929 34.7071L28.2929 25.7071L29.7071 24.2929ZM38.7071 34.7071L29.7071 43.7071L28.2929 42.2929L37.2929 33.2929L38.7071 34.7071Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}
.carousel .control-prev.control-arrow:hover:before {
	content: url("data:image/svg+xml,%3Csvg width='100%' height='100%' style='transform: rotate(180deg)' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2929 25.7071C27.9024 25.3166 27.9024 24.6834 28.2929 24.2929C28.6834 23.9024 29.3166 23.9024 29.7071 24.2929L28.2929 25.7071ZM38 34L38.7071 33.2929C39.0976 33.6834 39.0976 34.3166 38.7071 34.7071L38 34ZM29.7071 43.7071C29.3166 44.0976 28.6834 44.0976 28.2929 43.7071C27.9024 43.3166 27.9024 42.6834 28.2929 42.2929L29.7071 43.7071ZM29.7071 24.2929L38.7071 33.2929L37.2929 34.7071L28.2929 25.7071L29.7071 24.2929ZM38.7071 34.7071L29.7071 43.7071L28.2929 42.2929L37.2929 33.2929L38.7071 34.7071Z' fill='%23006DE7'/%3E%3C/svg%3E%0A");
}

.carousel .control-next.control-arrow {
	right: 0;
}
.carousel .control-next.control-arrow:before {
	content: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2929 25.7071C27.9024 25.3166 27.9024 24.6834 28.2929 24.2929C28.6834 23.9024 29.3166 23.9024 29.7071 24.2929L28.2929 25.7071ZM38 34L38.7071 33.2929C39.0976 33.6834 39.0976 34.3166 38.7071 34.7071L38 34ZM29.7071 43.7071C29.3166 44.0976 28.6834 44.0976 28.2929 43.7071C27.9024 43.3166 27.9024 42.6834 28.2929 42.2929L29.7071 43.7071ZM29.7071 24.2929L38.7071 33.2929L37.2929 34.7071L28.2929 25.7071L29.7071 24.2929ZM38.7071 34.7071L29.7071 43.7071L28.2929 42.2929L37.2929 33.2929L38.7071 34.7071Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}
.carousel .control-next.control-arrow:hover:before {
	content: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2929 25.7071C27.9024 25.3166 27.9024 24.6834 28.2929 24.2929C28.6834 23.9024 29.3166 23.9024 29.7071 24.2929L28.2929 25.7071ZM38 34L38.7071 33.2929C39.0976 33.6834 39.0976 34.3166 38.7071 34.7071L38 34ZM29.7071 43.7071C29.3166 44.0976 28.6834 44.0976 28.2929 43.7071C27.9024 43.3166 27.9024 42.6834 28.2929 42.2929L29.7071 43.7071ZM29.7071 24.2929L38.7071 33.2929L37.2929 34.7071L28.2929 25.7071L29.7071 24.2929ZM38.7071 34.7071L29.7071 43.7071L28.2929 42.2929L37.2929 33.2929L38.7071 34.7071Z' fill='%23006DE7'/%3E%3C/svg%3E%0A");
}
@keyframes progress {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
.carousel .control-next.control-arrow:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -4.9vw;
	width: 9.9vw;
	height: 0.3vw;
	background: #006de7;
	transform: scaleX(0);
	transform-origin: left;
	animation: progress 7s infinite linear;
}
.carousel .control-prev.control-arrow:active ~ button:after,
.carousel .control-next.control-arrow:active:after {
	animation: none;
}

.carousel {
	position: relative;
	width: 100%;
}

.carousel * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.carousel img {
	width: 100%;
	display: inline-block;
	pointer-events: none;
}

.carousel .carousel {
	position: relative;
}

.carousel .thumbs-wrapper {
	margin: 20px;
	overflow: hidden;
}

.carousel .thumbs {
	transition: all 0.15s ease-in;
	transform: translate3d(0, 0, 0);
	position: relative;
	list-style: none;
	white-space: nowrap;
}

.carousel .thumb {
	transition: border 0.15s ease-in;
	display: inline-block;
	width: 80px;
	margin-right: 6px;
	white-space: nowrap;
	overflow: hidden;
	border: 3px solid #fff;
	padding: 2px;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
	border: 3px solid #333;
	padding: 2px;
}

.carousel .thumb img {
	vertical-align: top;
}

.carousel.carousel-slider {
	position: relative;
	margin: 0;
	overflow: visible;
}

.carousel .slider-wrapper {
	overflow: hidden;
	margin: auto;
	width: 100%;
	transition: height 0.15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
	-ms-box-orient: horizontal;
	display: flex;
	align-items: center;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
	flex-direction: column;
	flex-flow: column;
	background: transparent;
}

.carousel .slider-wrapper.axis-vertical {
	-ms-box-orient: horizontal;
	display: flex;
}

.carousel .slider-wrapper.axis-vertical .slider {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.carousel .slider {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	width: 100%;
}

.carousel .slider.animated {
	transition: all 0.35s ease-in-out;
}

.carousel .slide {
	min-width: 100%;
	margin: 0;
	position: relative;
	text-align: center;
	background: #000;
}

.carousel .slide img {
	width: 100%;
	vertical-align: top;
	border: 0;
}

.carousel .slide iframe {
	display: inline-block;
	width: calc(100% - 80px);
	margin: 0 40px 40px;
	border: 0;
}

.carousel .slide .legend {
	transition: all 0.5s ease-in-out;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -45%;
	width: 90%;
	border-radius: 10px;
	background: #000;
	color: #fff;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	opacity: 0.25;
	transition: opacity 0.35s ease-in-out;
}

.carousel .control-dots {
	position: absolute;
	bottom: 0;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

@media (min-width: 960px) {
	.carousel .control-dots {
		bottom: 0;
	}
}

.carousel .control-dots .dot {
	transition: opacity 0.25s ease-in;
	opacity: 0.3;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
	background: #fff;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	cursor: pointer;
	display: inline-block;
	margin: 0 8px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
	opacity: 1;
}

.carousel .carousel-status {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	font-size: 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
	color: #fff;
}

.carousel:hover .slide .legend {
	opacity: 1;
}
