@import '~theme/variables';

.personContainer {
	box-sizing: border-box;
	margin: 0;
	padding: 0.5rem;
	transition: all 0.15s ease-in-out;
	width: 25%;

	figcaption {
		color: $white;
		position: relative;
		text-align: center;
		margin-top: -3rem;
		z-index: 99;
	}

	img {
		box-shadow: 0 1em 4em -0.5em rgba(0, 0, 0, 0.2);
		object-fit: cover;
		filter: grayscale(100%);
		width: 30vmin;
		height: 30vmin;
		opacity: 0.7;
		transform: scale(0.6);
		transition: all 0.3s ease-in-out;
		z-index: 2;
		&:hover {
			transform: scale(1);
			transition: all 0.2s ease-in-out;
			filter: grayscale(0);
			opacity: 1;
		}
	}
}
