@import '~theme/variables';

.personContainer {
	box-sizing: border-box;
	margin: 5rem 5rem 0 0;
	transition: all 0.15s ease-in-out;
	width: 25%;

	figcaption {
		color: $white;
		position: relative;
		text-align: center;
		z-index: 99;
	}

	img {
		object-fit: cover;
		filter: sepia(1);
		max-width: 100%;
		height: auto;
		z-index: 2;
	}

	&:hover {
		img {
			transform: scale(1.25);
			transition: all 0.15s ease-in-out;
			filter: sepia(0);
		}
	}
}
