@import '~theme/variables';

.wrapper {
	height: 100%;
	.f1 {
		padding-left: 2ch;
		text-transform: uppercase;
		font-weight: $fontWeightBlack;
		font-size: 12.5vw;
		letter-spacing: 0.64ch;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 40%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	@media screen and (max-width: $screenMedium) {
		.f1 {
			padding-left: $spacingBase;
		}
	}
}
