@import '~theme/variables';

.sans {
	font-family: $fontFamilySecondary;
}

.main-content-wrapper {
	display: flex;
}

.markdown-container {
	background: $white;
	flex-basis: 70%;
	padding: 6rem 3rem;
	min-height: 70vh;
}
