@import '~theme/variables';

.container {
	position: relative;
}

.mediaWrapper {
	margin-top: -17vh;
	height: 80vh;
	right: 0;
	@media screen and (max-width: $screenSmall) {
		margin-top: -10vh;
	}
}

.mediaContainer {
	position: relative;
	height: 60vh;

	img {
		object-fit: cover;
		height: 64vh;
		min-height: 580px;
		margin-right: 31vw;
		width: 60vw;
		@media screen and (max-width: $screenSmall) {
			height: 50vh;
			margin-right: initial;
			width: 100vw;
			min-height: 400px;
		}
	}
}

.mediaText {
	position: absolute;
	padding: 7vh 6vh 10vh;
	top: 27vh;
	right: 0;
	background: $white;
	width: 40%;

	a {
		color: $black;
		text-decoration: none;
	}

	@media screen and (max-width: $screenSmall) {
		padding: 2rem 2rem 4rem;
		top: 50vh;
		left: 1rem;
		right: initial;
		width: calc(100vw - 1rem);
	}
}

.whiteSeparator {
	background: $white;
	height: 30vh;
	width: 100%;
	@media screen and (max-width: $screenSmall) {
		height: 15vh;
	}
}

.textContainer {
	padding-bottom: 10vh;
}

.footer {
	margin: 0 auto;
	max-width: 1200px;
	padding: $spacingSmall $spacingSmall $spacingMedium;
}

.social {
	width: 320px;
	@media screen and (max-width: $screenSmall) {
		order: -1;
		margin: 0 0 3rem -0.5rem;
	}
}

.social a {
	opacity: 0.7;
	position: relative;
	&::after {
		background: $black;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		height: 1px;
		transition: transform 0.4s ease;
		transform: scaleX(0);
		width: 100%;
	}
	&:hover {
		opacity: 1;
	}
	&:hover::after {
		transition: transform 0.2s ease;
		transform: scaleX(1);
	}
}

.credits a {
	font-weight: $fontWeightRegular;
	color: $white;
}

.credits span {
	padding-bottom: 1rem;
}

.tweetIcon {
	align-self: flex-end;
	margin-right: 2vh;
}

span.tweetCTA {
	font-size: $fontSizeXLarge !important;
	@media screen and (max-width: $screenSmall) {
		font-size: $fontSizeMedium !important;
	}
}

.tweetHashtag a {
	font-size: $fontSizeXXLarge;
	color: inherit;
	font-weight: $fontWeightBlack;
	@media screen and (max-width: $screenSmall) {
		font-size: $fontSizeXLarge !important;
	}
}
