@import '~theme/variables';

.container {
	margin: $spacingLarge 0 $spacingLarge $spacingSmall;
	padding-bottom: $spacingLarge;
	position: relative;
	width: 100vw;
}

.image1 {
	background-image: url('/public/images/snow-man.jpg');
	background-position: center;
	height: 30vh;
	width: 400px;
}

.image2 {
	background-image: url('/public/images/ticket.jpg');
	background-position: center;
	height: 30vh;
	width: 250px;
}

.whiteBox {
	background: $white;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	height: 200px;
	z-index: -1;
}
