@import '../../styles.module.scss';

// Mixins for consistency

@mixin animation {
	animation-name: drawIn;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0, 0.8, 0.5, 0.9);
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

// IDs for animation

#two .blueStroke {
	@include animation;
	stroke-dasharray: 750;
	stroke-dashoffset: 750;
	animation-duration: 1s;
}

#two .whiteStroke {
	@include animation;
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

#zero .blueStroke {
	@include animation;
	animation-delay: 2.2s;
	stroke-dasharray: 360;
	stroke-dashoffset: 360;
	animation-duration: 1s;
}

#zero .whiteStroke {
	@include animation;
	stroke-dasharray: 800;
	stroke-dashoffset: 800;
	animation-duration: 1s;
}

#zero #desicon {
	@include animation;
	animation-delay: 2.4s;
	animation-duration: 1s;
	stroke-dasharray: 70;
	stroke-dashoffset: 70;
}

#one .blueStroke {
	@include animation;
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
}

#one .whiteStroke {
	@include animation;
	stroke-dasharray: 210;
	stroke-dashoffset: 210;
	animation-duration: 1.6s;
}

#nine .blueStroke {
	@include animation;
	stroke-dasharray: 300;
	stroke-dashoffset: 300;
}
#nine .whiteStroke {
	@include animation;
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
}

#nine #nineDot.blueStroke {
	animation: intro 3s ease forwards;
	stroke-dashoffset: 130;
	stroke-dasharray: 130;
}

.dots {
	animation: dots 0.5s ease-in-out 2.8s forwards;
	r: 0;
}

@keyframes drawIn {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes intro {
	0% {
		transform: translate(-20%, -15%);
	}
	55% {
		stroke-dashoffset: 0;
	}
	60% {
		transform: translate(-20%, -15%);
	}
	100% {
		transform: translate(0, 0);
		stroke-dashoffset: 0;
	}
}

@keyframes dots {
	to {
		r: 1.5;
	}
}

// Utility classes for final styles

.blueStroke {
	stroke: $twentyNineteenBlue;
}

.blueFill {
	fill: $twentyNineteenBlue;
}

.lightBlack {
	stroke: $lightBlack;
}

.whiteStroke {
	stroke: $white;
}
.whiteFill {
	fill: $white;
}

.grayFill {
	fill: $grayHeader;
}

.thickestStroke {
	stroke-width: 88;
}

.thickerStroke {
	stroke-width: 84;
}

.thickStroke {
	stroke-width: 82;
}

.thinStroke {
	stroke-width: 16;
}

.thinnestStroke {
	stroke-width: 8;
}

// wrapping div
.keyArt {
	width: 100%;
	height: 100%;
	// replay button styles
	button {
		display: flex;
		align-items: center;
		color: $main-l2 !important;
		cursor: pointer;
		opacity: 0;
		animation: button 0.2s 4s forwards;
		margin: $spacingBase auto;
		padding: $spacingBase;
		svg {
			width: 16px;
			height: 16px;
			margin: 6px;
		}
		&:hover {
			color: $primary !important;
		}
	}
}
@keyframes button {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// replay toggle
:global(.replay) {
	display: none;
}
