@import '../../styles.module.scss';

.blue {
	stroke: $twentyNineteenBlue;
}

.darkBlack {
	stroke: $darkBlack;
}

.lightBlack {
	stroke: $lightBlack;
}

.white {
	stroke: $white;
}

.thickStroke {
	stroke-width: 88;
}
