@import "~styles/variables";

.container {
	display: flex;
	margin: 3em;
	position: relative;
	justify-content: center;
}

.navbar {
	height: 1em;
}

.site-name {
	color: $colorWhite;
	font-weight: $fontWeightHeavy;
	left: 0;
	position: absolute;
	top: 0.1em;
}