@import '~theme/variables';

// COLORS
$black: #1f2123;
$darkBlack: #1b1c1e;
$lightBlack: #1f2123;
$grayHeader: #555e68;
$grayParagraph: #888b9b;
$twentyTwentyBlue: #395ded;
$lightBlue: #93a7db;
$twentyTwentyYellow: #ffc90a;
$backgroundGradient: linear-gradient(247.41deg, #212b32 6.16%, #1c1f23 63.57%);
$lightBackgroundGradient: linear-gradient(
		219.58deg,
		rgba(61, 73, 86, 0.8) -2.98%,
		rgba(66, 81, 98, 0) 79.84%
	),
	linear-gradient(0deg, #232a31, #232a31);

// FONT
@font-face {
	font-family: 'SourceSans';
	src: url('/fonts/SourceSansVariable-Roman.ttf.woff2') format('woff2');
	font-weight: 1 999;
}

// BREAKPOINTS
$breakpoint-for-phone-only: 599px;
$breakpoint-for-tablet-portrait-up: 600px;
$breakpoint-for-tablet-landscape-up: 900px;
$breakpoint-for-desktop-up: 1400px;
$breakpoint-for-large-desktop-up: 1800px;

@mixin for-phone-only {
	@media (max-width: $breakpoint-for-phone-only) {
		@content;
	}
}

@mixin for-tablet-portrait-up {
	@media (min-width: $breakpoint-for-tablet-portrait-up) {
		@content;
	}
}

@mixin for-tablet-portrait-only {
	@media (min-width: $breakpoint-for-tablet-portrait-up) and (max-width: $breakpoint-for-tablet-landscape-up - 1px) {
		@content;
	}
}

@mixin for-tablet-landscape-up {
	@media (min-width: $breakpoint-for-tablet-landscape-up) {
		@content;
	}
}

@mixin for-tablet-landscape-only {
	@media (min-width: $breakpoint-for-tablet-landscape-up) and (max-width: $breakpoint-for-desktop-up - 1px) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: $breakpoint-for-desktop-up) {
		@content;
	}
}

@mixin for-desktop-only {
	@media (min-width: $breakpoint-for-desktop-up) and (max-width: $breakpoint-for-large-desktop-up - 1px) {
		@content;
	}
}

@mixin for-large-desktop-up {
	@media (min-width: $breakpoint-for-large-desktop-up) {
		@content;
	}
}

// GLOBAL KEYFRAMES
@keyframes fadeIn100 {
	to {
		opacity: 1;
	}
}
@keyframes fadeIn30 {
	to {
		opacity: 0.3;
	}
}
@keyframes fadeIn10 {
	to {
		opacity: 0.1;
	}
}
@keyframes grow0to100 {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

// GLOBAL STYLES
.pagestyles {
	background: $black;
	font-family: 'SourceSans', sans-serif;
	font-weight: 400;
	color: $lightBlue;
	overflow-x: hidden;
	.f1,
	.f2,
	.f3,
	.f3Large,
	.f4 {
		font-weight: $fontWeightHeavy;
		padding: 0;
		margin: 0;
	}
	.f2 {
		font-size: 40px;
		margin-bottom: 1em;
		@include for-tablet-landscape-up {
			font-size: 46px;
		}
	}
	.f3Large {
		font-size: 8vw;
		line-height: 100%;
		@include for-tablet-landscape-up {
			font-size: 2.875vw; //48px
		}
	}
	.f3 {
		line-height: 100%;
		font-size: 6vw;
		@include for-tablet-landscape-up {
			font-size: 2.5vw; //65px
		}
	}
	.f4 {
		line-height: 122%;
		font-size: 5.5vw;
		@include for-tablet-landscape-up {
			font-size: 2vw; //32px
		}
	}
	.pLarge,
	.p,
	.pSmall,
	div,
	span {
		color: $lightBlue;
	}
	.pLarge {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.6;
		opacity: 0.8;
		@include for-tablet-landscape-up {
			font-size: 24px;
		}
	}
	.pSmall {
		font-size: 16px;
		font-weight: 400;
		color: $grayParagraph;
	}
	.link {
		font-size: 20px;
		font-weight: 700;
		color: $twentyTwentyBlue;
		line-height: 1.5;
		position: relative;
		margin-right: 52px;
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='46' height='12' viewBox='0 0 46 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.4227 5.01025L38.9227 0.0102539L37.5773 1.49013L41.1634 4.75019L0.25 4.75019V6.75019L41.1634 6.75019L37.5773 10.0103L38.9227 11.4901L44.4227 6.49013L45.2366 5.75019L44.4227 5.01025Z' fill='%23006DE7'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			position: absolute;
			right: -52px;
			bottom: 4px;
			width: 45px;
			height: 13px;
			transition: 0.1s ease-in-out;
			transition-delay: 0.2s;
		}
		&:before {
			content: '';
			height: 2px;
			background: $twentyTwentyBlue;
			width: calc(100% + 8px);
			bottom: 10px;
			position: absolute;
			transform-origin: right;
			transform: scaleX(0);
			transition: 0.4s cubic-bezier(0.37, 0.29, 0.01, 0.99);
		}
		&:hover {
			&:before {
				transform: scaleX(1);
				transition: 0.15s cubic-bezier(0.37, 0.29, 0.01, 0.99);
			}
			&:after {
				right: -40px;
				transition-delay: 0s;
			}
		}
	}
	section {
		width: 100vw;
		margin: auto;
		max-width: 1440px;
		position: relative;
		padding: $spacingLarge 20px;
		@include for-tablet-portrait-up {
			padding: 80px 96px 160px;
		}
		@media screen and (max-width: 1500px) {
			max-width: $screenLarge;
		}
	}
}

@keyframes designReport {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// HERO
.heroImages {
	figure:nth-of-type(2) img {
		box-shadow: 0px 74px 124px 0px rgba(15, 17, 23, 0.48);
	}
}

// DEPARTMENT
.department {
	background: $darkBlack;
	padding: 80px 0 0;
	position: relative;
	text-align: center;
	.organizationContent {
		padding: $spacingSmall;
		svg {
			min-width: 116px;
			min-height: 116px;
			flex: 0 0 7.25vw;
		}
		.desicon {
			text-align: center;
			grid-row-start: 1;
			.p,
			.pLarge {
				text-align: center;
				margin-bottom: 0;
			}
			img {
				width: 70%;
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		right: -48px;
		bottom: -48px;
		width: 395px;
		height: 305px;
		background: url('/images/2019/dots-department.svg');
		background-size: 100%;
	}
	.departmentNames {
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		.f4 {
			font-weight: $fontWeightRegular;
			margin-bottom: 0.4em;
			padding-bottom: 0;
			span {
				color: rgba($white, 0.5);
			}
		}
		.pSmall {
			color: $white;
			opacity: 0.5;
		}
		div {
			width: 100%;
			min-height: 160px;

			&:nth-of-type(1) {
				background: #0a44b4;
			}
			&:nth-of-type(2) {
				background: #0a3a97;
			}
			&:nth-of-type(3) {
				background: #072b71;
			}
		}
		img {
			width: 100%;
			margin: 0;
		}
	}
}
@include for-tablet-landscape-up {
	.department {
		.departmentNames {
			flex-flow: row;
		}
		.organizationContent {
			padding: $spacingBase * 2;
		}
	}
}
@include for-desktop-up {
	.department {
		padding: 120px 0 0;
		.organizationContent {
			text-align: left;
			grid-template-columns: 1fr 1fr;
			.desicon {
				grid-column-start: 2;
				align-self: center;
			}
		}
	}
}

// NEW FACES
.newFaces {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 80px 40px;
	.timeline {
		position: relative;
		.line {
			position: absolute;
			left: 50%;
			width: 1px;
			height: 100%;
			@include for-tablet-portrait-up {
				left: 65px;
			}
		}
		&::before {
			content: '';
			background: linear-gradient($black, rgba($black, 0));
			width: 50%;
			height: 6rem;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		&::after {
			content: '';
			background: linear-gradient($black, rgba($black, 0));
			width: 50%;
			height: 6rem;
			position: absolute;
			bottom: -5rem;
			left: 0;
			z-index: 1;
		}
	}
}
//COVID-19
.covid19 {
	display: flex;
	flex-direction: column;
	align-items: center;
	.recentPromotions {
		background: $darkBlack;
		margin-top: 128px;
		padding: 0 40px 80px;
		.growTool {
			width: 100%;
			margin-top: -64px;
		}
		.f3 {
			padding: 40px 0;
		}
	}
	.promotionCard {
		display: grid;
		align-items: center;
		justify-items: center;
		row-gap: 40px;
		padding: 48px;
		margin: 24px 0;
		background: $lightBlack;
		img {
			width: 240px;
			height: 240px;
			object-fit: cover;
			margin: 0;
		}
		.f3Large {
			padding: 8px 0;
			span {
				color: $grayParagraph;
			}
		}
		.f4 {
			padding: 8px 0;
		}
		span {
			font-weight: 400;
		}
	}
}
@include for-tablet-landscape-up {
	.growth {
		.recentPromotions {
			.growTool {
				width: 50%;
			}
		}
		.promotionCard {
			justify-items: left;
			flex-direction: row;
			text-align: left;
			grid-auto-flow: column;
			grid-template-columns: auto 1fr 1fr;
			column-gap: 64px;
			img {
				width: 160px;
				height: 160px;
			}
		}
	}
}

// THANK YOU
.thankyou {
	width: 100vw;
	padding: 10vw;
	margin: auto;
	max-width: calc(80rem + 20vw - 2rem);
	font-size: 20px;
	.f1 {
	}
	.pLarge {
		color: $grayParagraph;
	}
	.p {
		color: $white;
		opacity: 0.6;
		width: 40vw;
		font-weight: $fontWeightRegular;
	}
	div.p {
		color: $white;
		position: relative;
		padding: 2vw 0;
		padding-left: 74px;
		display: flex;
		justify-content: left;
		align-items: center;
		width: 220px;
		font-weight: $fontWeightHeavy;
		opacity: 1;
		font-size: 20px;
		.headshot {
			position: absolute;
			top: 1vw;
			left: 0;
			height: 50px;
			width: 50px;
			border-radius: 50%;
		}
		.signature {
			position: absolute;
			top: 4vw;
			left: 0;
			width: 220px;
			opacity: 0.06;
		}
	}
}
