@import '~theme/variables';

.footer {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 80vh;
	width: 100vw;

	@media screen and (max-width: $screenSmall) {
		height: 80vh;
	  }

	.footerBadgeOuterCircle{
		display: flex;
		align-items: center;
		justify-content: center;

		width: 26rem;
		height: 26rem;

		border-radius: 100%;
		background-color: rgba(13, 99, 206, 0.10);

		@media screen and (max-width: $screenSmall) {
			width: 16rem;
			height: 16rem;
		  }
	

		.footerBadgeCircle {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 17.5rem;
			height: 17.5rem;

			border-radius: 100%;
			background-color: $brandPrimary;

			@media screen and (max-width: $screenSmall) {
				width: 12rem;
				height: 12rem;
			  }
		
		}

		.footerBadge {
			width: 13rem;
			height: auto;

			@media screen and (max-width: $screenSmall) {
				width: 8rem;
			  }
		}
	}
	.footerLowerCircle {
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
		background-color: $brandPrimary;
		margin-top: 3rem;
	}
}
