@import 'theme/variables.scss';

.handbook {
	.wrapper {
		margin-top: $spacingBase * -1;
		background: #fff url('/images/theme/handbook-frame.svg') top center/contain
			no-repeat;
		.date {
			@include small-caps;
		}
		.gagb {
			margin-left: $spacingXSmall * -1.5;
			font-size: $fontSizeDisplay * 1.5;
			font-weight: $fontWeightBlack;
			span {
				color: $primary;
			}
			@media screen and (max-width: $screenMedium) {
				font-size: $fontSizeDisplay;
			}
		}
	}
}
