@import 'theme/variables.scss';
@import 'theme/longform.scss';

.banner {
	h1 {
		width: 100%;
		font-size: $fontSizeDisplay;
		color: $white;
		z-index: 2;
		font-weight: $fontWeightHeavy;
		text-shadow: $elevationText3, $elevationText0;
		position: relative;
		display: block;
		span {
			display: block;
			width: 100%;
			left: 0;
			top: 14rem;
			margin-top: $spacingBase;
			font-size: $fontSizeBase;
			color: $neutral6;
			text-shadow: none;
		}
	}
	.role {
		width: $spacingSmall;
		h2 {
			@include small-caps;
			transform: translateX(-$spacingMedium) rotate(-90deg);
			font-size: $fontSizeXSmall;
			color: $grey;
			width: 20ch;
			text-align: center;
		}
	}
}
.featuredImage {
	position: relative;
	box-shadow: $elevation2;
	img {
		object-fit: cover;
		height: 40vh;
		max-height: 468px;
		position: relative;
		z-index: 10;
	}
}

.markdownContainer {
	margin-bottom: auto;
	padding: 6rem 3rem;
	font-family: $fontFamilySecondary;
	background: white;
	position: relative;
	z-index: 1;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: $primary;
		}
	}
	.wrapper {
		max-width: 88ch;
		margin: $spacingMedium auto 0;

		p,
		ol > li,
		ul > li {
			font-size: $fontSizeMedium;
			line-height: 1.6;
			font-weight: $fontWeightRegular;
			color: $darkGrey;
			margin-bottom: 1rem;
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			img {
				margin: 3rem 0 0 -20%;
				max-height: 64vh;
				width: 140%;
			}
			img + strong {
				text-transform: uppercase;
				letter-spacing: 0.5ch;
				font-weight: $fontWeightHeavy;
				color: $grey;
				font-size: $fontSizeSmall;
				transform: translate(80%, -$spacingXLarge) rotate(90deg);
				display: block;
			}
		}
		ol,
		ul {
			padding-left: $fontSizeMedium;
		}

		h2,
		h3 {
			margin-top: 3em;
			&:first-child {
				margin-top: $spacingSmall;
			}
		}

		img {
			width: 100%;
		}

		//caption styling
		img + em {
			color: $main-l3;
			font-size: $fontSizeSmall;
			text-align: center;
			display: inherit;
		}
	}
}

@media screen and (max-width: $screenMedium) {
	.banner {
		h1 {
			order: 0;
			font-size: $fontSizeLarge;
			padding-right: $spacingBase;
			div {
				left: 0.7rem;
			}
		}
	}

	.featuredImage {
		img {
			max-width: 100%;
			max-height: $screenSmall;
			margin: 2rem auto;
		}
	}
	.markdownContainer {
		padding: $spacingLarge $spacingSmall $spacingMedium;
	}
}
