@import '~theme/variables';
@import '~theme/animations';

.customContainer {
	max-width: 60ch;
	margin: 0 auto;
	a {
		color: $black;
	}
}

.coolForm {
	transform: translateY(calc(8rem - 2px));
}

.wrapper {
	border-radius: $spacingXSmall;
	background-color: $white;
	transition: transform 0.4s;
	overflow: hidden;
	overflow: visible;
	position: relative;
	padding: $spacingBase;
	&:before {
		z-index: -10;
		border-radius: $spacingXSmall;
		content: '';
		width: 100%;
		transition: opacity 0.4s;
		height: 100%;
		display: inline;
		box-shadow: 0 2rem 8rem -2rem rgba($black, 0.24);
		opacity: 0;
		left: 0;
		top: 0;
		position: absolute;
	}
	&:hover {
		transform: translateY(-($spacingXSmall / 2));
		transition: transform 0.4s;
		&:before {
			transition: opacity 0.4s;
			opacity: 1;
		}
	}
	h2,
	p {
		padding-bottom: $spacingXSmall;
	}
}
