@import '~theme/variables';
@import '~theme/animations';

.coolForm {
	transform: translateY(calc(8rem - 2px));
}

a {
	color: $black;
}

.wrapper {
	max-width: 60ch;
	border-radius: $spacingXSmall;
	background-color: $white;
	transition: all 0.4s;
	overflow: hidden;
	overflow: visible;
	position: relative;
	padding: $spacingBase;
	&:before {
		z-index: -10;
		border-radius: $spacingXSmall;
		content: '';
		width: 100%;
		transition: all 0.4s;
		height: 100%;
		display: inline;
		box-shadow: 0 2rem 8rem -2rem rgba($black, 0.24);
		opacity: 0;
		left: 0;
		top: 0;
		position: absolute;
	}
	&:hover {
		transform: translateY(-($spacingXSmall / 2));
		&:before {
			transition: all 0.4s;
			opacity: 1;
		}
	}
	.date {
		font-family: $fontFamilyPrimary;
	}
	h2,
	p {
		padding-bottom: $spacingXSmall;
	}
}
