@import "~styles/variables";

.container {
	display: flex;
	margin: 48px;
	position: relative;
	justify-content: center;
}

.navbar {
	height: 18px;
	width: 360px;
}

.site-name {
	color: $colorWhite;
	font-weight: $fontWeightHeavy;
	left: 0;
	letter-spacing: -1px;
	position: absolute;
	top: -7px;
}