@import "~styles/animations";
@import "~styles/variables";

$bottomMargin: 104px;

.banner {
    background-position: 29% -22px;
	background-size: 219%;
	box-shadow: 0 17px 50px 0 #003A97;
    height: 100%;
	margin: 0 auto;
	width: 100%;
}

.container {
	height: calc(100vh - #{$globalHeaderHeight} - #{$bottomMargin});
    margin: 0 auto;
    min-height: 400px;
    min-width: 360px;
    position: relative;
	width: calc(93vh - #{$globalHeaderHeight} - #{$bottomMargin});
}

.header {
    align-items: center;
	color: $colorWhite;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 126%;
    z-index: 100;
}

.label {
	color: $colorBlack;
	letter-spacing: 4px;
	margin-bottom: 32px;
	text-transform: uppercase;

	&:after {
		background-color: $colorBlack;
		content: '';
		display: block;
		height: 1px;
		margin-top: 8px;
		width: 16px;
	}
}

.primary {
	margin-bottom: 16px;
}

.secondary {
	font-weight: $fontWeightLight;
}

.tertiary {
	letter-spacing: 8px;
    margin: 0;
	position: absolute;
    right: -72px;
    top: 50%;
    transform: rotateZ(90deg);
}