@import '~theme/variables';

.wrapper {
	position: relative;
	padding: $spacingSmall;
	text-align: center;
	height: 2em;
	width: 2em;
	line-height: 0.9;
	&:before {
		content: '';
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: inline;
		background: currentColor;
		opacity: 0.04;
		border-radius: $fontSizeXSmall / 2;
	}
	.month {
		@include small-caps;
	}
}

.wrapper.large {
	.month {
		letter-spacing: $fontSizeXSmall;
		margin-right: $fontSizeXSmall * -1;
	}
}

.wrapper.dark {
	height: 2.4em;
	&:before {
		border-radius: 0;
	}
	.day {
		line-height: initial;
	}
}
