.button {
	padding: 5px 10px;
	border: 1px solid #e4600e;
	border-radius: 6px;
	transition: background 0.5s;
	cursor: pointer;
	&focus {
		outline: none;
	}
	&hover {
		transition: background 0.5s;
	}
}

.primary {
	background: #f37523;
	color: #fff;
}
