@import '~theme/animations';
@import '~theme/variables';

.container {
	height: 60vh;
	margin: 0 auto;
	min-height: 400px;
	max-height: 800px;
	min-width: 360px;
	position: relative;
	width: 100vw;
	@media screen and (max-width: $screenMedium) {
		width: calc(100vw - 2rem);
		min-width: 300px;
		height: 90vh;
	}
}
