@import '~theme/variables';

.wrapper {
	position: sticky;
	top: 0;
	animation: backgroundAnimate 0.7s forwards;
	overflow: hidden;
	&::after {
		content: '';
		background: $black;
		height: 100%;
		width: 100vw;
		position: absolute;
		left: calc(100vw - calc(calc(100% - 1280px) / 2));
		top: 0;
		z-index: 1;
	}
	.container {
		.image {
			animation: contentAnimate 1s cubic-bezier(0.4, -0.2, 0.2, 1.4) forwards 0.3s;
			opacity: 0;
			margin: -3rem 0 3rem;
			height: 20rem;
			width: 20rem;
		}
		.text {
			opacity: 0;
			animation: contentAnimate 1s cubic-bezier(0.4, -0.2, 0.2, 1.4) forwards 0.2s;
			margin: $spacingMedium;
			width: 32ch;
		}
		.button {
			padding: 1rem 3rem;
			background: $action;
			color: $white;
			transform: translateY(0);
			box-shadow: $elevation1;
			transition: all 0.4s ease-in-out;
			&:hover {
				background: darken($action, 8%);
				transform: translateY(-$spacingXSmall);
				box-shadow: $elevation3;
				transition: all 0.2s ease-in-out;
			}
		}
		.headline {
			font-weight: $fontWeightBlack;
		}
		@keyframes backgroundAnimate {
			0% {
				transform: translateX(-20vw);
			}
			100% {
				transform: translateX(0);
			}
		}
		@keyframes contentAnimate {
			0% {
				transform: translateX(-4vw);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
	@media screen and (max-width: $screenSmall) {
		.container {
			display: flex;
			flex-direction: column !important;
			.image {
				width: 100%;
				height: 12rem;
				position: relative;
			}
			.text {
				margin: -$spacingSmall 0 0 0;
				width: 100%;
				.headline {
					z-index: 10;
				}
				a,
				.button {
					margin-top: -$spacingSmall;
					width: 100%;
				}
			}
		}
		@keyframes backgroundAnimate {
			0% {
				transform: translateY(-20vw);
			}
			100% {
				transform: translateY(0);
			}
		}
		@keyframes contentAnimate {
			0% {
				transform: translateY(-4vw);
				opacity: 0;
			}
			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}
