@import '~theme/variables';

.card {
	color: $white;
	background: $darkGrey;
	box-shadow: 0 0.5rem 5rem -1rem rgba(0, 0, 0, 0.3);
	height: 100%;
	transform: translateY(0);
	transition: all 0.15s ease-in-out;
	width: 100%;
	&:hover {
		transform: translateY(-0.2rem);
		transition: all 0.2s ease-in-out;
		box-shadow: 0 0.5rem 8rem -0.5rem rgba(0, 0, 0, 0.5);
		background: $darkestGrey;
	}
	.avatar {
		border: none;
		background: $darkestGrey;
		margin: -$spacingBase 1.8rem 0;
		height: $spacingBase * 2;
		width: $spacingBase * 2;
		position: absolute;
	}
	.copy {
		padding: $spacingMedium $spacingBase $spacingMedium;
		font-weight: $fontWeightHeavy;
		.title {
			font-size: $fontSizeMedium;
			padding: 0;
		}
		.text {
			color: $grey;
			font-size: $fontSizeBase;
			margin-top: $spacingSmall;
			padding: 0;
		}
	}
}

.externalLink {
	position: relative;

	&:after {
		content: url("data:image/svg+xml;charset=UTF-8, <svg width='20' height='20' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M18 2h1.5V.5H18V2zm0 16v1.5h1.5V18H18zM2 18H.5v1.5H2V18zM2 2V.5H.5V2H2zm9.333 1.5H18v-3h-6.667v3zM16.5 2v6.667h3V2h-3zm.44-1.06l-11 11 2.12 2.12 11-11L16.94.94zm-.44 10.393V18h3v-6.667h-3zM18 16.5H2v3h16v-3zM3.5 18V2h-3v16h3zM2 3.5h6.667v-3H2v3z' fill='#fff'/></svg>");
		position: absolute;
		right: 2rem;
		top: 2.1rem;
		transform: translate(-1em, 1em);
		transition: all 0.15s ease-in-out;
		opacity: 0;
	}
	&:hover {
		&:after {
			transform: translate(0, 0);
			transition: all 0.4s ease-in-out;
			opacity: 1;
		}
	}
}
