@import '~theme/variables';

.teamContainer {
	max-width: calc(1200px - 2rem);
	padding: 20vh 1rem;
	margin: 0 auto;
}

.heading {
	position: relative;
	p {
		position: absolute;
		left: calc(200px - 1rem);
	}
}
