@import '~theme/variables';

.teamContainer {
	background: $white;
	padding: 20vh 1rem;
	div {
		padding-bottom: 2rem;
		max-width: calc(1200px - 2rem);
		margin: 0 auto;
	}
}

.heading {
	position: relative;
	p {
		position: absolute;
		left: calc(200px - 1rem);
		-webkit-margin-before: 0.7rem;
		@media screen and (max-width: $screenSmall) {
			left: calc(36vw - 1rem);
		}
	}
}
