@import '~theme/variables';

.container {
	img {
		max-width: 100%;
		object-fit: contain;
	}

	p:before {
		content: '';
		background: currentColor;
		height: $spacingXSmall / 2;
		margin-bottom: $spacingXSmall / 2;
		width: 100%;
		display: block;
	}
}
