@import '~theme/variables';

// section.wrapper {
// 	margin-top: -($spacingBase * 2);
// }

.wrapper {
	max-width: 100vw;
	background-color: $lightestGrey;
	background-size: cover;
	background-attachment: fixed;
	padding: $spacingXLarge 0 ($spacingLarge + ($spacingBase * 2));

	.icon {
		grid-area: icon;
		justify-self: center;
	}
	.copy {
		grid-area: copy;
		align-self: center;
	}

	h2 {
		font-weight: $fontWeightBlack;
		font-size: $fontSizeXXLarge;
	}

	a {
		border-bottom: 4px solid $primary;
	}
}
