@import '~theme/variables';

:global {
	body {
		background-attachment: fixed;
		background-blend-mode: multiply;
		background-color: $black;
		background-image: url(~resources/diamond-bar-topography.png);
		background-repeat: no-repeat repeat;
		background-size: 100%;
		font-family: $fontFamilyPrimary;
		margin: 0;
		overflow-x: hidden;
	}
}
