/* ---------- Colors ---------- */

$primary: #0055fd;
$secondary: #95bdff;
$white: #fff;
$black: #1c1b1b;

/* ---------- Global sizes ---------- */

$globalHeaderHeight: 131px;

/* ---------- Font family ---------- */

$fontFamilyPrimary: 'Source Code Pro', 'Menlo', monospace;

/* ---------- Font sizes ---------- */

$fontSizeXSmall: 0.8rem;
$fontSizeSmall: 0.9rem;
$fontSizeMedium: 1rem;
$fontSizeLarge: 1.6rem;
$fontSizeXLarge: 2rem;
$fontSizeXXLarge: 3rem;

/* ---------- Font weights ---------- */

$fontWeightLight: 200;
$fontWeightRegular: 400;
$fontWeightHeavy: 500;
$fontWeightBlack: 700;

/* ---------- Padding & Margin ---------- */

$spacingXSmall: 0.4rem;
$spacingSmall: 1rem;
$spacingMedium: 3rem;
$spacingLarge: 8rem;
$spacingXLarge: 16rem;
$spacingXXLarge: 32rem;
