/* ---------- Colors ---------- */

$primary: #0055ff;
$secondary: #95bdff;
$darkGrey: #353638;
$darkestGrey: #1f2123;
$grey: #a4a4a4;
$white: #fff;
$black: #1c1b1b;
$lightGrey: #c0c0c0;
$lightestGrey: #e7e7e7;

/* ---------- Global sizes ---------- */

$globalHeaderHeight: 131px;

/* ---------- Font family ---------- */

$fontFamilyPrimary: 'Source Code Pro', 'Menlo', monospace;

/* ---------- Font sizes ---------- */

$fontSizeXSmall: 0.8rem;
$fontSizeSmall: 0.9rem;
$fontSizeBase: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeLarge: 1.8rem;
$fontSizeXLarge: 2.2rem;
$fontSizeXXLarge: 3rem;

/* ---------- Font weights ---------- */

$fontWeightLight: 200;
$fontWeightRegular: 400;
$fontWeightHeavy: 500;
$fontWeightBlack: 700;

/* ---------- Padding & Margin ---------- */

$spacingXSmall: 0.4rem;
$spacingSmall: 1rem;
$spacingMedium: 3rem;
$spacingLarge: 8rem;
$spacingXLarge: 16rem;
$spacingXXLarge: 32rem;

/* ---------- Screen Sizes ---------- */

$screenSmall: 400px;
$screenMedium: 800px;
$screenLarge: 1200px;
$screenXLarge: 2000px;
