@import '~theme/variables';

.scrollArrow {
	position: fixed;
	bottom: 4rem;
	left: 2rem;
	padding: 4px;
	width: 18px;
	height: 50px;
	z-index: 999;
	stroke: $primary;
	cursor: pointer;
	&:focus,
	&:hover {
		stroke: $primary-d1;
		div {
			opacity: 1;
			color: $primary-d1 !important;
			transform: rotate(-90deg) translate(8px, -25%);
		}
	}
	div {
		position: absolute;
		font-size: 12px;
		color: $primary !important;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		transform-origin: top left;
		transform: rotate(-90deg) translate(0, -25%);
		opacity: 0;
		transition: 0.15s;
	}
	svg {
		width: 100%;
		height: 100%;
	}
	animation: animateIn 1s 2s forwards;
	opacity: 0;
	transform: translateY(-$spacingMedium);
}

@keyframes animateIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
