@import '~theme/variables';
@import '~theme/blueprints';

.leaf-link {
	border-radius: 4px;
	font-weight: $fontWeightRegular;
	padding: ($spacingSmall * 0.64) $spacingSmall;
	position: relative;

	&:hover {
		background-color: $gray-bg;
	}

	&:hover {
		color: $black;
	}

	&.active {
		font-weight: $fontWeightHeavy;
		color: $primary;
	}
	width: 100%;
}

svg.leaf-link {
	margin-left: $spacingXSmall;
	padding: $spacingXSmall 0;
}

.sidebar.handbook {
	background-color: $black-000 !important;
	.sidebar-content-wrapper {
		svg {
			fill: $neutral4;
		}
	}
	.leaf-link,
	.first-level-node > a,
	.first-level-node > ul > a,
	.sidebar-content-wrapper svg {
		&:hover {
			background-color: $main;
		}
	}
	a,
	.leaf-link,
	.first-level-node > a {
		color: $neutral9;
		&:hover {
			color: $white;
		}
		&.active,
		&.active > a,
		&[aria-current]:not([aria-current='false']) {
			color: $primary;
			font-weight: $fontWeightBlack !important;
		}
	}
}

.sidebar {
	background: $neutral9 !important;
	grid-area: sidebar;
	height: 100%;
	max-height: 100vh;
	position: sticky;
	overflow: auto;
	top: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-out 0s;
	list-style: none;
	z-index: 1;

	> div:first-child {
		padding: $spacingMedium $spacingBase;
		@media screen and (max-width: $screenMedium) {
			padding: $spacingSmall;
		}
	}

	> ul {
		padding-left: 0;
	}

	ul > div > a > li {
		padding-left: $spacingSmall;
	}

	&.off-screen {
		position: fixed;
		opacity: 0;
		transform: translateY(120vh);
		transition: opacity 0.5s ease 0.5s, transform 0.5s ease-in-out,
			top 0s ease-in-out 1s;
		width: 98vw;
	}

	&.on-screen {
		transform: translateY(0);
		opacity: 1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	a {
		color: $black;
	}

	.first-level-node,
	.first-level-node > a {
		font-weight: $fontWeightHeavy !important;
	}

	.sidebar-content-wrapper {
		display: flex;
		flex-direction: column;
		padding: $spacingSmall;
		a {
			font-weight: $fontWeightRegular;
		}
		svg {
			fill: $main;
		}
	}

	.credits {
		padding: $spacingBase;
	}

	.active > a {
		color: $primary;
	}
}

.lexicon {
	.section {
		font-weight: $fontWeightBlack;
	}
	.leaf-link,
	.first-level-node,
	.first-level-node > a {
		font-size: $fontSizeSmall;
	}
}
