@import '~theme/variables';
@import '~theme/blueprints';

.sidebar {
	background: $neutral9;
	grid-area: sidebar;
	height: 100%;
	max-height: 100vh;
	position: sticky;
	top: 0;
	list-style: none;

	> div:first-child {
		padding: $spacingMedium $spacingBase;
	}

	> ul {
		padding-left: 0;
	}

	ul > div > a > li {
		padding-left: $spacingSmall;
	}
}

.first-level-node {
	font-weight: 600 !important;
}

.sidebar-content-wrapper {
	display: flex;
	flex-direction: column;
	padding: $spacingSmall;
}

.credits {
	padding: $spacingBase;
}

.leaf-link {
	border-radius: 4px;
	font-weight: $fontWeightRegular;
	padding: 0.55rem $spacingSmall;
	position: relative;

	&:hover,
	&.active {
		background-color: $neutral8;
	}

	&:hover {
		color: $black;
	}

	&.active {
		font-weight: $fontWeightHeavy;
	}
}
