@import '~theme/variables';
@import '~theme/blueprints';

.sidebar {
	background: $neutral9;
	grid-area: sidebar;
	height: 100%;
	max-height: 100vh;
	position: sticky;
	overflow: auto;
	top: 0;
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-out 0s;
	list-style: none;
	z-index: 1;

	> div:first-child {
		padding: $spacingMedium $spacingBase;
		@media screen and (max-width: $screenMedium) {
			padding: $spacingSmall;
		}
	}

	> ul {
		padding-left: 0;
	}

	ul > div > a > li {
		padding-left: $spacingSmall;
	}

	&.off-screen {
		position: fixed;
		opacity: 0;
		transform: translateY(120vh);
		transition: opacity 0.5s ease 0.5s, transform 0.5s ease-in-out,
			top 0s ease-in-out 1s;
		width: 98vw;
	}

	&.on-screen {
		transform: translateY(0);
		opacity: 1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	a {
		color: $black;
	}

	.first-level-node {
		font-weight: 600 !important;
	}

	.sidebar-content-wrapper {
		display: flex;
		flex-direction: column;
		padding: $spacingSmall;
	}

	.credits {
		padding: $spacingBase;
	}

	.leaf-link {
		border-radius: 4px;
		font-weight: $fontWeightRegular;
		padding: 0.55rem $spacingSmall;
		position: relative;

		&:hover,
		&.active {
			background-color: $gray-bg;
		}

		&:hover {
			color: $black;
		}

		&.active {
			font-weight: $fontWeightHeavy;
		}
	}
}

.lexicon {
	.leaf-link {
		font-size: $fontSizeSmall;
	}
}