@import 'theme/variables.scss';

.banner {
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	padding: 3rem 1rem 3rem;
	position: relative;
	font-family: $fontFamilySecondary;
	.bannerContent {
		max-width: $screenMedium;
		h1 {
			font-size: $fontSizeDisplay;
			color: $white;
			font-weight: $fontWeightHeavy;
			box-shadow: $elevation1;
			margin: 0;
			margin-bottom: $spacingSmall;
			font-family: $fontFamilyPrimary;
			.date {
				position: absolute;
				left: 0;
				top: 3rem;
				@media only screen and (max-width: $screenLarge) {
					left: 3rem;
				}
			}
		}
		@media only screen and (max-width: 1040px) {
			max-width: 100%;
			padding: 0 2rem;
			h1 .date {
				position: relative;
				top: 0;
				left: 0;
				margin-bottom: 2rem;
			}
		}
		h2 {
			.startTime,
			.endTime,
			.locationName a {
				font-family: $fontFamilySecondary;
				font-weight: $fontWeightLight;
				font-size: $fontSizeMedium;
				color: $white;
			}
			.locationName {
				display: block;
				position: relative;
				a {
					position: relative;
				}
				a:after {
					background: #fff;
					bottom: -0.5em;
					content: '';
					position: absolute;
					right: 0;
					height: 3px;
					transition: transform 0.4s ease;
					transform-origin: right;
					transform: scaleX(0);
					width: 100%;
				}
				a:hover:after {
					transition: transform 0.2s ease;
					transform: scaleX(1);
				}
			}
		}
		.heroImage {
			width: 90vw;
			position: relative;
			left: calc(-50vw + 50%);
			max-height: 80vh;
			margin: 8rem 0 4rem;
		}
		.summary {
			font-size: $fontSizeLarge;
			color: $white;
			font-weight: $fontWeightLight;
		}
		.bodyImage {
			width: 90vw;
			height: 40vw;
			position: relative;
			left: calc(-45vw + 50%);
			margin-top: 4rem;
			margin-bottom: calc(-20vw - 4rem);
		}
	}
}
.ctaButton {
	position: fixed;
	background-color: $action;
	right: 0;
	top: 50vh;
	transform-origin: right;
	transform: rotate(0.75turn) translateY(-50%);
	padding: $spacingSmall $spacingMedium;
	font-size: $fontSizeMedium;
	color: $white;
	font-weight: $fontWeightHeavy;
	text-align: center;
	z-index: 1;
	@media only screen and (max-width: $screenSmall) {
		width: 100vw;
		bottom: 74.3px;
		top: unset;
		transform: none;
	}
}

.markdownContainer {
	margin-bottom: auto;
	padding: calc(20vw + 6rem) 3rem 6rem;
	font-family: $fontFamilySecondary;
	background: white;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: $primary;
		}
	}
	.wrapper {
		max-width: 88ch;
		margin: $spacingLarge auto 0;

		p,
		ol > li,
		ul > li {
			font-size: $fontSizeMedium;
			line-height: 1.6;
			font-weight: $fontWeightRegular;
			color: $darkGrey;
			margin-bottom: 1rem;
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			img {
				margin: 3rem 0 0 -20%;
				max-height: 64vh;
				width: 140%;
			}
			img + strong {
				@include small-caps;
				color: $grey;
				font-size: $fontSizeSmall;
				transform: translate(80%, -$spacingXLarge) rotate(90deg);
				display: block;
			}
		}
		ol,
		ul {
			padding-left: $fontSizeMedium;
		}

		h2,
		h3 {
			margin-top: 3em;
			&:first-child {
				margin-top: $spacingSmall;
			}
		}

		img {
			width: 100%;
		}

		//caption styling
		img + em {
			color: $main-l3;
			font-size: $fontSizeSmall;
			text-align: center;
			display: inherit;
		}
	}
}

@media screen and (max-width: $screenSmall) {
	.banner {
		.bannerContent {
			padding: 0;
			h1 {
				font-size: $fontSizeLarge;
				div {
					left: 0.7rem;
				}
			}
		}
	}
	.markdownContainer {
		overflow: hidden;
		padding: $spacingLarge $spacingSmall $spacingMedium;
	}
}
