@import '~theme/variables';

.container {
	display: flex;
	margin: 3em;
	position: relative;
	justify-content: center;
}

.navbar {
	height: 1em;
}

.site-name {
	left: 0;
	position: absolute;
	top: 0.1em;
}
