@import '~theme/variables';

.container {
	display: flex;
	margin: 3em;
	position: relative;
	justify-content: center;
	@media screen and (max-width: 800px) {
		justify-content: flex-end;
	}
}

.navbar {
	height: 1em;
}

.site-name {
	left: 0;
	position: absolute;
	top: 0.3em;
}
