@import '~theme/animations';
@import '~theme/variables';

.wrapper {
	font-family: $fontFamilySecondary;
	max-width: 80ch;
	border-radius: $spacingXSmall;
	background-color: $white;
	transition: transform 0.4s, opacity 0.4s;
	overflow: hidden;
	overflow: visible;
	position: relative;
	padding: $spacingBase;
	&:before {
		z-index: -10;
		border-radius: $spacingXSmall;
		content: '';
		width: 100%;
		transition: transform 0.4s, opacity 0.4s;
		height: 100%;
		display: inline;
		box-shadow: 0 2rem 8rem -2rem rgba($black, 0.24);
		opacity: 0;
		left: 0;
		top: 0;
		position: absolute;
	}
	&:hover {
		transform: translateY(-($spacingXSmall / 2));
		&:before {
			transition: transform 0.4s, opacity 0.4s;
			opacity: 1;
		}
	}
	.date {
		font-family: $fontFamilyPrimary;
	}
	h2,
	p {
		padding-bottom: $spacingXSmall;
	}

	a {
		display: block;
		color: $black;
	}
	.avatarWrapper {
		& > div:not(:last-child) {
			margin-left: $spacingXSmall * -2;
		}
		.avatar {
			height: $spacingMedium;
			width: $spacingMedium;
			border-radius: 50%;
			border: solid 2px $white;
		}
	}
	.github {
		margin-top: $spacingXSmall;
		background: $main-l8;
		color: $main-l3;
		border-radius: $spacingXSmall / 2;
		padding: $spacingXSmall ($spacingXSmall * 2) $spacingXSmall $spacingXSmall;
		& svg {
			fill: $main-l4;
		}
		&:hover {
			background: $main-l6;
			color: $black;
			svg {
				fill: $main-l3;
			}
		}
	}
}
