@import "~styles/variables";

:global {
	body {
		background-color: $colorPrimaryBlue;
		font-family: $fontFamilyPrimary;
	}

	h1, h2, h3, h4, h5 {
		margin: 0;
	}

	h1 {
		font-size: $fontSizeXXLarge;
		font-weight: $fontWeightHeavy;
	}

	h2 {
		font-size: $fontSizeLarge;
		font-weight: $fontWeightHeavy;
	}

	h3 {
		font-size: $fontSizeMedium;
		font-weight: $fontWeightHeavy;
	}

	h4 {
		font-size: $fontSizeSmall;
		font-weight: $fontWeightHeavy;
	}

	h5 {
		font-size: $fontSizeXSmall;
		font-weight: $fontWeightHeavy;
	}
}