/* ---------- Colors ---------- */

$colorPrimaryBlue: #0055FD;
$colorPrimaryBlueLight: #95BDFF;
$colorWhite: #FFF;
$colorBlack: #1C1B1B;

/* ---------- Font family ---------- */

$fontFamilyPrimary: 'Source Code Pro', 'Menlo', monospace;

/* ---------- Font sizes ---------- */

$fontSizeXSmall: 10px;
$fontSizeSmall: 14px;
$fontSizeMedium: 17px;
$fontSizeLarge: 22px;
$fontSizeXLarge: 25px;
$fontSizeXXLarge: 35px;

/* ---------- Font weights ---------- */

$fontWeightLight: 200;
$fontWeightRegular: 400;
$fontWeightHeavy: 500;
$fontWeightBlack: 700;
