@import '~theme/variables';

.agendaContainer {
	background: $white;
	min-height: 100vh;
	padding-bottom: 20vh;
}

.heading {
	max-width: 1200px;
	padding: 8rem 1rem;
	margin: 0 auto 2rem;
	position: relative;
	@media screen and (max-width: $screenSmall) {
		margin: 0 auto;
	}

	p {
		color: $grey;
		margin: 0.25em 0 1.2em 0;
		max-width: 800px;
		position: absolute;
		left: 200px;
		font-size: 1.4em !important;
		line-height: 1.4;
		font-weight: 300 !important;
		width: 56vw;
		@media screen and (max-width: $screenSmall) {
			position: relative;
			left: initial;
			width: 100%;
		}
	}
}

.dayToggle {
	background: $primary;
	cursor: pointer;
	padding: 3em 0;
	width: 100px;
	height: 50vh;
	min-height: 20ch;
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 10vh;
	margin: 4rem 0 10vh;

	> div {
		position: absolute;
		right: -2.05rem;
	}

	div:nth-child(3) {
		position: absolute;
		top: 3rem;
		left: -2.05rem;
	}

	> span {
		display: block;
		font-size: $fontSizeLarge !important;
		transform: rotate(90deg) translateX(-5ch);
		transform-origin: left bottom;
		padding: 1.2em 2em;
		width: 18ch;

		span {
			color: $white;
		}
	}
}

.noDay {
	background: none;
	width: 100px;
	height: 500px;
}

.schedule {
	max-width: 800px;
	width: 56vw;
}

.currentDay {
	font-size: $fontSizeXLarge;
	margin: 0 0 5rem 5.9rem;
	display: inline-block;
	&:after {
		content: '';
		width: 100%;
		display: block;
		height: 1px;
		margin-top: $spacingXSmall;
		background: $primary;
	}
	> span:nth-of-type(1) {
		color: $lightGrey;
	}

	@media screen and (max-width: $screenSmall) {
		font-size: $fontSizeLarge;
	}
}

.talkContainer {
	margin-bottom: $spacingMedium;

	> div {
		margin-left: $spacingMedium;
	}
}

.talkContainer img {
	box-shadow: 0 1em 4em -0.5em rgba(0, 0, 0, 0.2);
	margin: 1em 2em 3em 0;
	filter: grayscale(100%) contrast(110%) brightness(120%);
	-webkit-filter: grayscale(100%) contrast(110%) brightness(120%);
}

.sessionHeading {
	> h3 {
		font-weight: 700;
	}
}

.speakerHeading {
	> h4 {
		font-weight: 700;
	}
}

.mobileAgenda {
	.schedule {
		width: calc(100vw - 2rem);
		padding: 3rem 1rem 6rem;
	}
	.mobileToggles {
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		position: sticky;
		top: calc(100vh - 5rem);
		margin-bottom: initial;
		padding: 1rem;
		z-index: 1;
		.dayToggle {
			width: calc(50vw - 3rem);
			padding: 1rem;
			height: 2.4rem;
			min-height: initial;
			top: initial;
			margin: initial;
			> span {
				font-size: $fontSizeBase !important;
				transform: initial;
				padding: 0.5rem;
			}
			> div {
				position: absolute;
				top: 1.6rem;
				right: initial;
				left: initial;
			}
		}
		.noDay {
			width: 50vw;
			height: 3rem;
		}
	}
}
