@import '~theme/variables';

.container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 27ch;
}

.entry {
	&:hover .entry-label {
		color: $white;
		transition: color 0.4s ease-out;
		&::after {
			transition: transform 0.2s ease;
			transform: scaleX(1);
		}
	}

	&.selected {
		border-bottom: 1px solid $black;

		.entry-label {
			color: $white;
		}
	}
}

.entry-label {
	color: $secondary;
	margin: 0;
	padding: 8px 0;
	position: relative;
	text-transform: capitalize;
	transition: color 0.2s ease-out;
	&::after {
		background: $black;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		height: 1px;
		transition: transform 0.4s ease;
		transform: scaleX(0);
		width: 100%;
	}
}

.entry-link {
	display: block;
	text-decoration: none;
}
