@import '../../organisms/Sidebar/styles.module.scss';

.accordion {
	list-style: none;
	margin: 0;
	padding-left: 0;

	> div:first-child {
		cursor: pointer;
	}
}

.children-container {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.visible {
	display: flex;
}

.hidden {
	display: none;
}
