.accordion {
  h3 {
    background: none;
    border-radius: 5%;
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    transition: background 0.5s;

    &:hover {
      background: rgba(aqua, 0.25);
      transition: background 0.5s;
    }
  }
}

.children-container {
  padding-left: 0.7rem;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
