@import '~theme/variables';

.bottomBorder {
	&:after {
		background-color: $black;
		content: '';
		display: block;
		height: 1px;
		margin-top: 8px;
		width: 16px;
	}
}

/* Commenting this out b/c its in global */
/*
.h1 {
	font-size: $fontSizeXXLarge;
	font-weight: $fontWeightHeavy;
}

.h2 {
	font-size: $fontSizeLarge;
	font-weight: $fontWeightHeavy;
}

.h3 {
	font-size: $fontSizeMedium;
	font-weight: $fontWeightHeavy;
}

.h4 {
	font-size: $fontSizeSmall;
	font-weight: $fontWeightHeavy;
}

.h5 {
	font-size: $fontSizeXSmall;
	font-weight: $fontWeightHeavy;
}
*/
