---
title: "Core Components"
url: "/docs/patterns/alerts.html"
icon: "lexicon-site-docs"
weight: 3
---

{namespace pagePatternLibrary}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
